<style>
     #content .contentContainer #ridestab {
        position: relative;
        top: -45px;
     }

    #content .contentContainer #ridestab .ng-table-filters {
        top: -56px;
        right: -52px;
    }

    #content .contentContainer #ridestab table tbody tr {
        border-radius: 4px;
        border-left: 3px solid;
        border-left-color: rgb(22, 160, 133);
    }

    #content .contentContainer #ridestab table tr td p {
     white-space: pre-line;
     padding: 11px;
    }

    #content .contentContainer #ridestab table tbody tr td:nth-child(1) i {
        padding-right: 10px;
        font-size: 20px;
    }

    #content .contentContainer #ridestab table tbody tr td:nth-child(2) {
        padding: 6px;
        text-align: center;
    }
    .downloaddbtn {
    padding: 0 !important;
    font-size: 11px;
    color: #47b29a;
}
    #content .contentContainer .contentLeftSide .selectedtd {
    background: #16a085;
    color: #fff;
    position: absolute;
    top: 0px;
    visibility: visible;
    width: 91%;
}
    #content .contentContainer .contentLeftSide td {
       /* visibility: hidden;*/
    }
</style>

<div class="page page-form-validate">
    
                
<b>Welcome to EVNOG</b>
            
   
</div>