<template>

<!-- Modal -->
<div id="EventModel" class="modal fade" role="dialog">


  <div class="modal-dialog">
  <loading :active.sync="isLoading" 
        :is-full-page="false" class="center loader-xs"></loading>
    
    <!-- Modal content-->
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add an Event data</h4>
      </div>
      <div class="modal-body">
        
        <form role="form">

          <div class="form-group">
            <label for="title">Event Entry Type</label>
            <select v-model="form.event_paymenttype_id" class="form-control" required="">
              <option v-for="paymenttype in event_Paymenttype" :value="paymenttype.id">
                {{ paymenttype.title }}
              </option>
            </select>
            <div v-if="errors && errors.event_paymenttype_id && errors.event_paymenttype_id[0]"
                 class="error">{{ errors.event_paymenttype_id[0] }}
            </div>
          </div>

          <div v-for="(post,index) in event_Tickettype" v-if="form.event_paymenttype_id==3"
               class="follow-user sidebar-box">
            <div style="margin-left: 0px;">

              <!--img v-bind :src="'./public/img/NORMAL.png'" alt="user" style="height: 25px; width: 25px; margin-top: 0px;"-->
              <img  v-bind:src="index == 0 ? './public/img/NORMAL.png' : './public/img/VIP.png'" alt="user" style="height: 25px; width: 25px; margin-top: 0px;" />
              <label for="title" style="margin-left: 10px; margin-top: 5px"> {{ post.title }} </label>
              <input type='checkbox' @change="TicketValReset(index)" data-toggle='collapse' :data-target="'#collapsedivt' + index"
                     style="vertical-align: middle; float: right; margin-top: 10px" :id="'chkMain' + index"></input>

            </div>
            <div class='collapse div1'  style="margin-top: 0px; margin-left: 0px;" :id="'collapsedivt' + index">
              <hr style="margin-top: 1px; margin-bottom: 1px;">

              <div class="row" style="margin-top: 10px;">
                <div class="form-group col-xs-1" style="margin-left: 10px;">
                  <label for="title">Qty</label>
                </div>
                <div class="form-group col-xs-2">
                  <input type="number" min="0" class="form-control" placeholder="0" required :id="'Qty' + index">
                </div>
                <div class="form-group col-xs-2" style="margin-left: 10px;">
                  <label for="title">Per Ticket</label>
                </div>
                <div class="form-group col-xs-2">
                  <input type="number" min="0" class="form-control" placeholder="0" required :id="'Price' + index">
                </div>

                <div class="form-group col-xs-1">
                  <label for="title">AUD</label>
                </div>

                <div class="form-group col-xs-2" style="float: right;">
                  <input type='checkbox' @change="updateActiveStatus(index)"
                         style="vertical-align: middle; float: right; margin-top: 7px" :id="'chkunlimited' + index">Unlimited</input>
                </div>

              </div>


            </div>
          </div>

            <div class="form-group">
              <label for="title">Event Type</label>
              <select v-model="form.event_type_id"  class="form-control" required="">
                <option v-for="type in event_types" :value="type.id">{{ type.title }}</option>
              </select>
              <div v-if="errors && errors.event_type_id && errors.event_type_id[0]" class="error">{{ errors.event_type_id[0] }}</div>
            </div>

            <div class="row">
              <div class="form-group col-xs-4">
                <label for="title">Title</label>
                <input v-model="form.title" type="text" class="form-control" id="title" placeholder="Title" required>
                <div v-if="errors && errors.title && errors.title[0]" class="error">{{ errors.title[0] }}</div>
              </div>
              <div class="form-group col-xs-4">
                <label for="venue_address">Venue Address</label>
                <input v-model="form.venue_address" type="text" class="form-control" id="venue_address" placeholder="Venue Address" required>
                <div v-if="errors && errors.venue_address && errors.venue_address[0]" class="error">{{ errors.venue_address[0] }}</div>
              </div>
              <div class="form-group col-xs-4">
                <label for="venue">Venue</label>
                <input v-model="form.venue" type="text" class="form-control" id="venue" placeholder="Venue" required>
                <div v-if="errors && errors.venue && errors.venue[0]" class="error">{{ errors.venue[0] }}</div>
              </div>
            </div>


            <div class="form-group">
              <label>Description</label>
              <textarea v-model="form.description" name="description"  style="width: 100%;" rows="3" required></textarea>
              <div v-if="errors && errors.description && errors.description[0]" class="error">{{ errors.description[0] }}</div>
            </div>

            <div class="row">
              <div class="form-group col-xs-6">
                <label>Select Date</label>
                <date-picker v-model="form.event_date" valueType="format" lang="en" required></date-picker>   
              </div>
              <div class="form-group col-xs-6">
                <label for="venue">Event Time</label>
                 <date-picker v-model="form.event_time" lang="en" type="time" format="HH:mm" placeholder="Select Time" :minute-step="1" required></date-picker>
              </div>
            </div>

            <div class="form-group">
                      
              <label class="radio-inline">
                <input type="radio" v-model="form.event_show" name="event_type" value="Public" checked="" required>Public
              </label>
              <label class="radio-inline">
                <input type="radio" v-model="form.event_show" name="event_type" value="Private" required>Private
              </label>
              
            </div>


            <div class="form-group">
              <label>Choose Image</label>
              <input type="file" id="file" ref="file" v-on:change="onChangeFileUpload()"/>
            </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-default" @click="postData()">Save</button>
      </div>
    </div>

  </div>
</div>
</template>

<script>
    export default {

        data(){
          return {
               event_types: [],
               event_Paymenttype: [],
               event_Tickettype: [],
               event_Tickets_data: [],
               isLoading: false,
               errors: {},
               form: new Form({
                event_type_id : '',
                event_paymenttype_id: '',
                title : '',
                description : '',
                venue : '',
                venue_address : '',
                event_date : '',
                event_time : '',
                event_show : '',
                image : '',
            })
      
        }
    },
      methods:{
        getEventTypes(){
          this.isLoading = true;
          axios.get(window.base_path+'/api/eventType')
              .then( (response) => {
                 this.event_types = response.data.data;
                 this.isLoading = false;
              })
              .catch(function (error) {
                // handle error
                console.log(error);
               // this.isLoading = false;
              });
            
        },

        getEventPaymentType(){
              this.isLoading = true;
              axios.get(window.base_path + '/api/eventPaymentType')
                  .then((response) => {
                      this.event_Paymenttype = response.data.data;
                      this.isLoading = false;
                  })
                  .catch(function (error) {
                      // handle error
                      console.log(error);
                      this.isLoading = false;
                  });

          },

        getEventTicketType(){
              this.isLoading = true;
              axios.get(window.base_path + '/api/eventTicketType')
                  .then((response) => {
                      this.event_Tickettype = response.data.data;
                      this.isLoading = false;
                  })
                  .catch(function (error) {
                      // handle error
                      console.log(error);
                      this.isLoading = false;
                  });

          },

          SuccessMessage(message, title)
          {

              $('<div></div>')
                  .html('<div><h6>' + message + '</h6></div>')
                  .dialog({
                      modal:true,
                      title:title,
                      width:400,
                      buttons: {
                          Ok: function() {
                              $( this ).dialog( "close" );
                              //component.getDataTab(null)

                          }
                      }
                  });
          },

        postData(){
debugger
          // this.form.submit(window.base_path+'/api/eventCreate', {
          //     // Transform form data to FormData
          //     headers: { 'content-type': 'multipart/form-data' },
          //     transformRequest: [function (data, headers) {
          //       return objectToFormData(data)
          //     }],

          //   })
          //     .then( (response) => {
                
                
          //     })
          //     .catch(function (error) {
          //       // handle error
          //       console.log(error);
          //     })
          //     .finally(function () {
          //       // always executed
          //     });

            if (this.form.event_paymenttype_id == 3) {




                var IsTicketSelected = 'false'
                for (var i = 0; i < this.event_Tickettype.length; i++) {

                    var unlimited = jQuery('#chkunlimited' + i).get(0).checked;
                    var qty = Number(jQuery('#Qty' + i).val());

                    if (unlimited == true || qty > 0) {
                        {
                            IsTicketSelected = 'true'
                        }
                    }
                }

                if (IsTicketSelected == 'false') {
                    //alert('Ticket are not selected, Please Enter Tickets Detail');
                    this.SuccessMessage('Ticket are not selected, Please Enter Tickets Detail', 'Add Event');
                    return
                }
            }

          this.isLoading = true;
          let data = new FormData();
          data.append('event_type_id', this.form.event_type_id);
            data.append('event_payment_id', this.form.event_paymenttype_id);
          data.append('title', this.form.title);
          data.append('description', this.form.description);
          data.append('venue_address', this.form.venue_address);
          data.append('venue', this.form.venue);
          data.append('event_date', this.form.event_date);
          data.append('event_show', this.form.event_show);
          data.append('event_time', this.formatTime(this.form.event_time));
          data.append('image', this.form.image);

          axios.post(window.base_path+'/api/eventCreate',data )
              .then( (response) => {
                this.isLoading = false;

                if(response.data){
                  if(response.data.success == 0){
                    this.errors = response.data.data;
                    new Snackbar(response.data.message,{timeout: 3000});
                  }else if(response.data.success == 1){

                      if (this.form.event_paymenttype_id == 3)
                      {
                          debugger
                          this.event_Tickets_data = [];
                          this.setEventTickets(response.data.data.id);
                      }
                      else
                      {

                          this.event_Tickets_data = [];
                          new Snackbar(response.data.message,{timeout: 3000});
                      }

                      this.form.reset();
                      jQuery('#EventModel').modal('hide');
                    debugger
                      this.redirect()

                  }
                }
              
              })
              .catch(function (error) {
                // handle error
                console.log(error);
                this.isLoading = false;
              });
        },

        updateActiveStatus(index){
              //console.log('#Qty' + index)
              if(jQuery('#chkunlimited' + index).get(0).checked == true)
              {
                  jQuery('#Qty' + index).val('')
                  jQuery('#Qty' + index).prop('disabled', true)

                  //alert('#Qty' + index);
                  //Toastr::success('#Qty' + index,'Success');
              }
              else
              {
                  jQuery('#Qty' + index).prop('disabled', false)
              }

          },

        TicketValReset(index){
              //console.log('#Qty' + index)
              //if(jQuery('#chkunlimited' + index).get(0).checked == true)
              //{
              jQuery('#chkunlimited' + index).prop('checked', false)
              jQuery('#Qty' + index).val('')
              jQuery('#Price' + index).val('')


              //alert('#Qty' + index);
              //Toastr::success('#Qty' + index,'Success');
              //}

          },



        setEventTickets(id){
            debugger
              for(var i = 0;i<this.event_Tickettype.length;i++){

                  if (jQuery('#chkunlimited' + i).get(0).checked == true || jQuery('#Qty' + i).val() > 0) {
                      let Tickets = {
                          id: this.event_Tickettype[i].id,
                          title: this.event_Tickettype[i].title,
                          event_ticket_type_id: this.event_Tickettype[i].id,
                          event_ticket_total: (jQuery('#Qty' + i).val() == '' ? '0' : jQuery('#Qty' + i).val()),
                          event_ticket_buy: 0,
                          event_ticket_sold: 0,
                          event_ticket_price: (jQuery('#Price' + i).val() == '' ? '0' : jQuery('#Price' + i).val()),
                          is_unlimited: (jQuery('#chkunlimited' + i).get(0).checked == true ? 1 : 0),
                          extraqty: 0
                      };
                      this.event_Tickets_data.push(Tickets);
                  }
              }

              var Re = JSON.stringify(this.event_Tickets_data);
              //console.log(JSON.stringify(this.event_Tickets_data));


              this.isLoading = true;
              let Ticketdata = new FormData();
              Ticketdata.append('data', Re);
              Ticketdata.append('event_id', id);

              axios.post(window.base_path + '/api/generateeventTickets', Ticketdata)
                  .then((response) => {
                      this.isLoading = false;

                      if (response.data) {
                          if (response.data.success == 0) {
                              this.errors = response.data.data;
                              new Snackbar(response.data.message, {timeout: 3000});
                          } else if (response.data.success == 1) {
debugger
                              this.event_Tickets_data = [];

                              //new Snackbar(response.data.message, {timeout: 3000});
                              this.form.reset();
                              jQuery('#EventModel').modal('hide');
                          }
                      }

                  })
                  .catch(function (error) {
                      // handle error
                      console.log(error);
                      this.isLoading = false;
                  });



          },

        eventLike(){
         
        },

         redirect()
         {
             debugger
             this.$parent.$refs.eventtypes.getDatatab('createdbyme');
             $("#menuitems").find('li').removeClass("active");
             $("#createdbyme").addClass("active");
         },





        onChangeFileUpload(){
          this.form.image = this.$refs.file.files[0];
        }
       },

       created(){

             this.form.reset();
         //this.form.reset();

         this.getEventTypes();
         this.getEventPaymentType();
         this.getEventTicketType();
       }
       
    }
</script>
<style>
  .ui-widget-header {
    border: 1px solid #5a2591;
    background: #5a2591;
    color: #fff;

  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #5a2591;
    background: #5a2591;
    font-weight: normal;
    color: #454545;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #5a2591;
    background: #5a2591;
    font-weight: normal;
    color: #ffffff;
  }
</style>