<template>

<!-- Modal -->
<div id="GroupModal" class="modal fade" role="dialog">


  <div class="modal-dialog">
  <loading :active.sync="isLoading" 
        :is-full-page="false" class="center loader-xs"></loading>
    
    <!-- Modal content-->
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Group</h4>
      </div>
      <div class="modal-body">
        
        <form role="form">
            <div class="form-group">
              <label for="title">Group Type</label>
              <select v-model="form.group_type_id" class="form-control" required="">
                <option v-for="type in group_types" :value="type.id">{{ type.title }}</option>
              </select>
              <div v-if="errors && errors.group_type_id && errors.group_type_id[0]" class="error">{{ errors.group_type_id[0] }}</div>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input v-model="form.name" type="text" class="form-control" id="name" placeholder="Title" required>
                <div v-if="errors && errors.name && errors.name[0]" class="error">{{ errors.name[0] }}</div>
            </div>

            <div class="form-group">
              <label>Description</label>
              <textarea v-model="form.description" name="description" style="width: 100%;" rows="3" required></textarea>
              <div v-if="errors && errors.description && errors.description[0]" class="error">{{ errors.description[0] }}</div>
            </div>

            <div class="form-group">
              <label>Choose Image</label>
              
              <input type="file" id="filea" ref="file" v-on:change="onChangeFileUpload()" required>
            </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-default" @click="postData()">Save</button>
      </div>
    </div>

  </div>
</div>
</template>

<script>
    export default {

        data(){
          return {
               group_types: [],
               isLoading: false,
               errors: {},
               form: new Form({
                group_type_id : '',
                name : '',
                description : '',
                image : '',
            })
      
        }
    },
      methods:{
        getEventTypes(){
          this.isLoading = true;
          axios.get(window.base_path+'/api/groupTypes')
              .then( (response) => {
                 this.group_types = response.data.data;
                 this.isLoading = false;
              })
              .catch(function (error) {
                // handle error
                console.log(error);
                this.isLoading = false;
              });
            
        },

        postData(){

          // this.form.submit(window.base_path+'/api/eventCreate', {
          //     // Transform form data to FormData
          //     headers: { 'content-type': 'multipart/form-data' },
          //     transformRequest: [function (data, headers) {
          //       return objectToFormData(data)
          //     }],

          //   })
          //     .then( (response) => {
                
                
          //     })
          //     .catch(function (error) {
          //       // handle error
          //       console.log(error);
          //     })
          //     .finally(function () {
          //       // always executed
          //     });

           this.isLoading = true;
          let data = new FormData();
          data.append('group_type_id', this.form.group_type_id);
          data.append('name', this.form.name);
          data.append('description', this.form.description);
          data.append('image', this.form.image);

          axios.post(window.base_path+'/api/createGroup',data )
              .then( (response) => {
              this.isLoading = false;
             
              if(response.data){
                  if(response.data.success == 0){
                    this.errors = response.data.data;
                  }else if(response.data.success == 1){
                    new Snackbar(response.data.message,{timeout: 3000});

                    this.form.reset();
                    jQuery('#GroupModal').modal('hide');
                      debugger
                      this.redirect()
                  }
                }
              })
              .catch(function (error) {
                // handle error
                console.log(error);
                this.isLoading = false;
              });
        },

        eventLike(){
         
        },

       redirect()
       {
           debugger
           this.$parent.$refs.grouptypes.getDatatab('Mygroups');
           $("#menuitems").find('li').removeClass("active");
           $("#Mygroups").addClass("active");
       },

        onChangeFileUpload(){
          this.form.image = this.$refs.file.files[0];
        }
       },

       created(){
         this.getEventTypes();
       }
       
    }
</script>
