<template>

<!-- Modal -->
<div id="ServiceModel" class="modal fade" role="dialog">


  <div class="modal-dialog">
  <loading :active.sync="isLoading" 
        :is-full-page="false" class="center loader-xs"></loading>
    
    <!-- Modal content-->
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Service</h4>
      </div>
      <div class="modal-body">
        
        <form role="form">

            <div class="form-group">
              <label for="title">Event Type</label>
              <select v-model="form.event_type_id" class="form-control" v-on:change="getEventServices">
                <option v-for="type in event_types" :value="type.id">{{ type.title }}</option>
              </select>
            </div>
            
            <div>
              <label class="checkbox-inline" v-for="service in services">
              <input type="checkbox" v-model="select_services[service.id]">{{ service.service_name }}
              </label>
              
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-default" @click="postData()">Save</button>
      </div>
    </div>

  </div>
</div>
</template>

<script>
    export default {

        data(){
          return {
               event_types: [],
               event_type: {},
               services: [],
               select_services: [],
               isLoading: false,
               form: new Form({
                event_type_id : '',
                title : '',
                description : '',
                venue_address : '',
                event_date : '',
                event_time : '',
                image : '',
            })
      
        }
    },
      methods:{

        getEventServices(value){
       
              this.isLoading = true;
              axios.post(window.base_path+'/api/servicesGetByType',{
                id:this.form.event_type_id
              })
                .then( (response) => {
                if(response.data){
                  this.services = response.data.data;
                 this.isLoading = false;
                }
              })
              .catch(function (error) {
                // handle error
                console.log(error);
                this.isLoading = false;
              });
        },
        getEventTypes(){
          this.isLoading = true;
          axios.get(window.base_path+'/api/eventType')
              .then( (response) => {
                 this.event_types = response.data.data;
                 this.isLoading = false;
              })
              .catch(function (error) {
                // handle error
                console.log(error);
                this.isLoading = false;
              });
            
        },

        postData(){
          var services = [];
          this.select_services.forEach((value,index) => {
           
            if(value == true){
               services.push(index);
            }
          });
          axios.post(window.base_path+'/api/userServicesStore',{
            event_type_id:this.form.event_type_id,
            services:`[${services}]`,
          } )
              .then( (response) => {
              this.isLoading = false;
          
              jQuery('#ServiceModel').modal('hide');
              })
              .catch(function (error) {
                // handle error
                console.log(error);
                this.isLoading = false;
              });
        },

        eventLike(){
         
        },


        onChangeFileUpload(){
          this.form.image = this.$refs.file.files[0];
        }
       },

       created(){
         this.getEventTypes();
       }
       
    }
</script>
