<template>

<!-- Modal -->
<div id="AttendanceModal" class="modal fade" role="dialog">


  <div class="modal-dialog">
  <loading :active.sync="isLoading" 
        :is-full-page="false" class="center loader-xs"></loading>
    
    <!-- Modal content-->
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Event Attendance</h4>
      </div>
      <div class="modal-body">
        
        <div class="about-profile">
                
            <div class="about-content-block">
              <h4 class="grey"><i class="ion-ios-people-outline icon-in-title"></i>Members</h4>

              <div class="organization" v-for="member in data">
                <img :src="member.user.Avatarurl" alt="" class="pull-left img-org">
                <div class="work-info">
                  <h5 style="text-transform: capitalize;">{{ member.user.fname }} {{ member.user.lname }}</h5>
                  <p v-bind:class="statusclass(member.totalCheckIn,member.totalCheckOut)" style="height: 24px;">{{ status(member.totalCheckIn,member.totalCheckOut) }}</p>
                </div>
              </div>
              
            </div>

            <!-- <infinite-loading @infinite="getData"></infinite-loading> -->

          </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>

  </div>
</div>
</template>

<script>
    export default {
        props:{
        eventId:{
          type:Number,
        },
       },
        data(){
          return {
              url: window.base_path+'/api/eventJoinlist',
              page: 1,
              isLoading: false,
              data:[],
              alldata:[],
              is_group_view:false,
              group_id:'',
              comments:{0:''},
              enterComment:{},
      
        }
    },
      methods:{

        status(in_a,out_a)
        {
            if (in_a == 0) return ''

            if (in_a == out_a) return 'PASS OUT'

            return 'ARRIVED'
        },

          statusclass(in_a,out_a)
          {
              if (in_a == 0) return ''

              if (in_a == out_a) return 'text-red'

              return 'text-green'
          },


        getData(eventId){
            debugger
            this.data = []
          this.isLoading = true;
          axios.post(this.url , 
             {
               page: this.page,
               id:eventId
              })
              .then( (response) => {
                  debugger
                 if(response.data.data){

                  if(response.data.data.length > 0){
                
                   
                   this.data = this.data.concat(response.data.data);
                 //  this.page += 1;
                   this.isLoading = false;
                   
             
                   
                 }else{
               
                   
                 }

                 }else{
                
                 }
                  
                 
              })
              .catch( (error) => {
                // handle error

              
                this.isLoading = false;
              })
              .finally( () => {
                 
                 this.isLoading = false;
              });
        },
      
       },

       created(){
          //  debugger
        //  this.getData();
       }
       
    }
</script>
