<template>

    <!-- Modal -->
    <div id="BuyEventTickets" class="modal fade" role="dialog">

        <!--<ticketpayment-modal ref="ticketpaymodal"></ticketpayment-modal>-->

        <div class="modal-dialog" style="width: 600px; height: 300px">
            <loading :active.sync="isLoading"
                     :is-full-page="false" class="center loader-xs"></loading>

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Buy Event Tickets data</h4>
                </div>
                <div class="modal-body">

                    <form role="form">

                        <div v-for="(post,index) in event_Tickettype"
                             class="follow-user sidebar-box" v-if="post.event_ticket_type_id == typeId">
                            <div  style="margin-left: 0px;">

                                <!--img v-bind :src="'./public/img/NORMAL.png'" alt="user" style="height: 25px; width: 25px; margin-top: 0px;"-->
                                <label hidden id="lbleventid"></label>
                                <label hidden id="lbltypeid"></label>
                                <img  v-bind:src="index == 0 ? './public/img/NORMAL.png' : './public/img/VIP.png'" alt="user" style="height: 25px; width: 25px; margin-top: 0px;" />
                                <label for="title" style="margin-left: 10px; margin-top: 5px"> {{ post.title }} </label>
                                <!--<input type='checkbox' @change="TicketValReset(index)" data-toggle='collapse' :data-target="'#collapsediv' + index"
                                       style="vertical-align: middle; float: right; margin-top: 10px" :id="'chkMain' + index"></input>-->

                            </div>
                            <div style="margin-top: 0px; margin-left: 0px;" :id="'collapsediv' + index">
                                <hr style="margin-top: 1px; margin-bottom: 1px;">

                                <div class="row" style="margin-top: 10px;">
                                    <div class="form-group col-xs-2" style="margin-left: 10px;">
                                        <label for="title">Available:</label>
                                    </div>
                                    <div class="form-group col-xs-2" style="margin-left: 10px;">
                                        <label id="lblavailable" for="title">{{ post.is_unlimited == 1 ? 'Unlimited' : post.event_ticket_total-post.event_ticket_sold }}</label>
                                        <label hidden id="lbltotalqty">{{ post.event_ticket_total }}</label>
                                    </div>
                                    <!--div class="form-group col-xs-2">
                                        <input type="number" class="form-control" placeholder="0" required :id="'Qty' + index">
                                    </div-->
                                    <span class="form-group col-xs-3"></span>
                                    <div class="form-group col-xs-1" style="margin-left: 10px;">
                                        <label for="title">Qty</label>
                                    </div>
                                    <div class="form-group col-xs-3">
                                        <input type="number" @change="changevalidator(0)" @keyup="changevalidator(1)"  class="form-control" placeholder="0" required id="qty">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-2" style="margin-left: 10px;">
                                        <label for="title">Sold:</label>
                                    </div>
                                    <div class="form-group col-xs-2" style="margin-left: 10px;">
                                        <label id="lblsold" for="title">{{ post.event_ticket_sold }}</label>
                                        <label hidden id="lbltotalsold">{{ post.event_ticket_sold }}</label>
                                    </div>
                                    <!--div class="form-group col-xs-2">
                                        <input type="number" class="form-control" placeholder="0" required :id="'Qty' + index">
                                    </div-->
                                    <span class="form-group col-xs-3"></span>
                                    <div class="form-group col-xs-1" style="margin-left: 10px;">
                                        <label for="title">Price</label>
                                    </div>

                                    <div class="form-group col-xs-3">
                                        <!--<input type="number" class="form-control" placeholder="0" required :id="'Price' + index">-->
                                        <label for="title" style="margin-left: 12px">{{ post.event_ticket_price }} AUD</label>
                                        <label hidden id="lblprice">{{ post.event_ticket_price }}</label>
                                    </div>



                                </div>


                            </div>
                        </div>

                        <div class="row" style="margin-top: 10px;">
                        <div class="follow-user sidebar-box form-group col-xs-5" style="text-align: center; margin-left: 10px; width: 47%">

                                        <label id="totalqtyvalue" for="title">Total Qty : 0</label>
                                        <label hidden id="sumofqty"></label>

                        </div>

                        <div class="follow-user sidebar-box form-group col-xs-5" style="text-align: center; float: right; margin-right: 10px; width: 47%">

                                    <label id="totalpricevalue" for="title">Total Price : 0 AUD</label>
                                    <label hidden id="sumofprice"></label>

                        </div>
                    </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="buy" class="btn btn-default" @click="CheckTicketsAvailability()">Buy</button>
                    <div  class="posts-inner-wrap" id="payment"></div>
                    <!--<button class="btn btn-default" @click="eCrypt.showModalPayment(ewayConfig, resultCallback)">Buy</button>-->
                    <!--<button onClick="eCrypt.showModalPayment(ewayConfig, resultCallback);">Pay with eWAY</button>-->
                    <div class="row"></div>


                </div>
            </div>

        </div>
    </div>
</template>


<script>




    export default {

        props:{

        },

        data(){
            return {
                event_Tickettype: [],
                event_Tickets_data: [],
                event_RevertTickets_data: [],
                event_ConfirmTickets_data: [],
                eventId : '',
                typeId : '',
                isLoading : false
            }
        },


        methods: {


            initialize(eventid, typeid){

                $('#payment').empty();
                debugger
                this.eventId = eventid
                this.typeId = typeid
                this.event_Tickettype = null
                this.event_Tickets_data = []
                this.event_RevertTickets_data = []
                this.event_ConfirmTickets_data = []
                jQuery('#qty').val(0)

                //changevalidator()

                jQuery('#totalqtyvalue').text('Total Qty : 0')
                jQuery('#sumofqty').text(Number(0))

                jQuery('#totalpricevalue').text('Total Price : 0 AUD')
                jQuery('#sumofprice').text(0)

                this.getEventTicketType();
                //jQuery('#payment').hide();
            },

            pay(amount, json, confirmjson, revertjson, eventid)
            {
                debugger
                //console.log(window.location)

                window.localStorage.setItem('jeticket', confirmjson);
                window.localStorage.setItem('jerticket', revertjson);
                window.localStorage.setItem('jeticket_EventId', eventid);
                $('#buy').hide();
                $('#qty').prop('disabled', true)
                //jQuery('#payment').remove();
                $('#payment').empty();
                //window.ticketjson = json;
                //window.subtype_selected = json;
                //eventsvu
                //this.$refs.eventsvu.setjsonstring(json);
                //+ "?jvtick=" + json
                let inv = Math.random().toString(16);
                inv = inv.replace(".","")
                let callbackurl = window.location.origin + window.location.pathname + "?inv=" + inv.replace(".","")

                $('#payment').append("<script src='https://secure.ewaypayments.com/scripts/eCrypt.min.js' " +
                    "class='eway-paynow-button' " +
                    "data-publicapikey='epk-1CCB4E43-C2E8-4181-B330-EF5138F3BBEC' " +
                    "data-amount='" + amount*100 + "' " +
                    "data-currency='AUD' " +
                    "data-buttoncolor='#5e2b94'" +
                    "data-buttonerrorcolor='#880c18'" +
                    "data-buttonprocessedcolor='#5e2b94'" +
                    "data-buttondisabledcolor='#ababab'" +
                    "data-buttontextcolor='#ffffff'" +
                    "data-invoicedescription='Event Ticket Purchase'" +
                    "data-invoiceref='" + inv + "'" +
                    "data-email='" + window.auth_user.email + "'" +
                    "data-phone='0000 00 00 00'" +
                    "data-label='Proceed Ticket Payment'" +
                    "data-resulturl='" + callbackurl +"' > <\/script>");
            },


            seteventticket()
            {
                debugger

                for(var tickets of this.event_Tickettype)
                {
                    if (this.typeId == tickets.event_ticket_type_id)
                    {
                        let Tickets = {
                            id: tickets.id,
                            title: tickets.title,
                            event_ticket_type_id: tickets.event_ticket_type_id,
                            event_ticket_total: tickets.event_ticket_total,
                            event_ticket_buy: jQuery('#qty').val(),
                            event_ticket_sold: jQuery('#lblsold').text(),
                            event_ticket_price: jQuery('#lblprice').text(),
                            is_unlimited: tickets.is_unlimited,
                            extraqty: 0
                        };

                        let ConfirmTickets = {
                            id: tickets.id,
                            title: tickets.title,
                            event_ticket_type_id: tickets.event_ticket_type_id,
                            event_ticket_total: tickets.event_ticket_total,
                            //event_ticket_buy: jQuery('#qty').val(),
                            event_ticket_sold: jQuery('#qty').val(),
                            event_ticket_price: jQuery('#lblprice').text(),
                            is_unlimited: tickets.is_unlimited
                            //,
                            //extraqty: 0
                        };

                        let RevertTickets = {
                            id: tickets.id,
                            title: tickets.title,
                            event_ticket_type_id: tickets.event_ticket_type_id,
                            event_ticket_total: tickets.event_ticket_total,
                            event_ticket_buy: jQuery('#qty').val(),
                            event_ticket_sold: Number(jQuery('#qty').val()),
                            event_ticket_price: jQuery('#lblprice').text(),
                            is_unlimited: tickets.is_unlimited,
                            extraqty: 0
                        };

                        this.event_ConfirmTickets_data.push(ConfirmTickets);
                        this.event_RevertTickets_data.push(RevertTickets);
                        this.event_Tickets_data.push(Tickets);
                        break;
                    }
                }
            },
/*
            buytickets()
            {
                debugger
                //this.qr_code.replace(window.base_url,'');
                var price = jQuery('#totalpricevalue').text().replace('Total Price : ','').replace(' AUD','');
                this.seteventticket();
                jQuery('#t_sub_total_amount').val(Number(price));
                this.$refs.ticketpaymodal.initialize(this.event_Tickets_data, this.eventId);


                jQuery('#BuyEventTickets').modal('hide')
                jQuery('#BuyEventTickets').on('hidden.bs.modal', function() {
                    jQuery('#TicketpayModel').modal('show')
                });
                //jQuery('#TicketpayModel').show().on('shown', function() {
                //    jQuery('#buyticketmodal').modal('hide')
                //});



            },
*/


            changevalidator(type){


debugger
                var ii = type;
                var available = jQuery('#lblavailable').text()
                var totalqty = jQuery('#lbltotalqty').text()
                var totalsold =jQuery('#lbltotalsold').text()
                var bal = Number(totalqty) - Number(totalsold)

                var qty = (jQuery('#qty').val() >= 0 ? jQuery('#qty').val() : 0)

                if (Number(jQuery('#qty').val()) < 0)
                {
                    jQuery('#qty').val('0');
                }

                if(available != 'Unlimited' && Number(qty) > bal)
                {
                    jQuery('#qty').val(bal);
                    qty = bal;
                }


                var sold =  jQuery('#lblsold').text()

                var lblprice =jQuery('#lblprice').text()


                //var available = jQuery('#lblavailable').val()



                //if (qty > 0)
                //{
                    if (available != 'Unlimited')
                    {
                        jQuery('#lblavailable').text((Number(totalqty)-Number(totalsold))-Number(qty))
                    }
                    jQuery('#lblsold').text(Number(totalsold) + Number(qty))


                jQuery('#totalqtyvalue').text('Total Qty : ' + Number(qty))
                jQuery('#sumofqty').text(Number(qty))

                jQuery('#totalpricevalue').text('Total Price : ' + Number(qty)*Number(lblprice) + ' AUD')
                jQuery('#sumofprice').text(Number(qty)*Number(lblprice))


                //}
                //if(jQuery('#qty').val() == '' || jQuery('#qty').val() <= 0)
                //{
                //    jQuery('#qty').val(0)
                //}


                //else
                //{

                //}

            },


            getEventTicketType(){

            debugger

                this.isLoading = true;
                axios.post(window.base_path + '/api/eventTickets', {
                    eventid: this.eventId
                    //eventid: 444

                })
                    .then((response) => {
                        debugger
                        this.event_Tickettype = response.data.data;
                        this.isLoading = false;


                        //console.log("Mix Fruit");
                        //console.log(this.eventId);
                        //console.log(this.event_Tickettype);
                    })
                    .catch(function (error) {
                        // handle error
                        debugger
                        console.log(error);
                        this.isLoading = false;
                    });

            },


            CheckTicketsAvailability()
            {
                this.seteventticket();

                this.isLoading = true;
                axios.post(window.base_path + '/api/eventTickets', {
                    eventid: this.eventId
                })
                    .then((response) => {
                        debugger
                        var Qty_ = this.event_Tickets_data[0].event_ticket_buy;

                        if (Number(Qty_) > 0)
                        {
                            for(var tickets of response.data.data)
                            {
                                if(tickets.event_ticket_type_id == this.typeId)
                                {
                                    var isunlimited = tickets.is_unlimited;
                                    var totalqty = tickets.event_ticket_total;
                                    var totalsold = tickets.event_ticket_sold;
                                    var balance = (totalqty - totalsold);

                                    if(isunlimited == 1 || balance >= Number(Qty_))
                                    {
                                        var jsondata = JSON.stringify(this.event_Tickets_data);
                                        var revertjsondata = JSON.stringify(this.event_RevertTickets_data);
                                        var confirmTicketdata = JSON.stringify(this.event_ConfirmTickets_data);
                                        this.TicketReserve(jsondata, confirmTicketdata, revertjsondata, this.eventId);
                                    }
                                    else
                                    {
                                        //alert(balance <= 0 ? "All Ticket Are Sold" : "Only " + balance + " Tickets Are Available");
                                        this.SuccessMessage(balance <= 0 ? "All Ticket Are Sold" : "Only " + balance + " Tickets Are Available", "Buy Event Tickets");
                                        this.ResetValues(tickets);
                                        this.isLoading = false;
                                    }
                                    break;
                                }
                            };
                        }
                    })
                    .catch(function (error) {
                        // handle error
                        debugger
                        console.log(error);
                        this.isLoading = false;
                    });

            },

            ResetValues(item)
            {
                var Sold = item.event_ticket_sold;
                var totalqty = item.event_ticket_total;
                //var totalsold = item.event_ticket_sold;
                var balance = (totalqty - Sold);
                var isunlimited = item.is_unlimited;
                var price = item.event_ticket_price;

                this.event_RevertTickets_data = [];
                this.event_Tickets_data = [];

                jQuery('#lbltotalsold').text(Number(Sold));
                jQuery('#lblsold').text(Number(Sold));
                jQuery('#lblavailable').text(isunlimited == 0 ? (balance > 0 ? balance : 0) : 'Unlimited');
                jQuery('#lbltotalqty').text(totalqty);
                jQuery('#qty').val(0);
                jQuery('#lblprice').text(price);
                jQuery('#totalqtyvalue').text('Total Qty : 0');
                jQuery('#sumofqty').text(Number(0));
                jQuery('#totalpricevalue').text('Total Price : 0 AUD');
                jQuery('#sumofprice').text(0);

                window.localStorage.setItem('jeticketNA', 'true');
            },


            TicketReserve(json, confirmjson, revertjson, eventid){

                //var price = jQuery('#totalpricevalue').text().replace('Total Price : ','').replace(' AUD','');
                debugger

                //this.isLoading = true;
                //var jsondata = JSON.stringify(json);

                axios.post(window.base_path + '/api/buyEventTickets', {
                    data: json,
                    event_id: this.eventId
                    //eventid: 444

                })
                    .then((response) => {
                        debugger

                        if(response.data.success == 1)
                        {
                            window.localStorage.setItem('jeticket', '');
                            window.localStorage.setItem('jerticket', '');
                            window.localStorage.setItem('jeticket_EventId', '');
                            window.localStorage.setItem('jerefkey', '');


                            this.isLoading = false;
                            var amount = Number(jQuery('#sumofprice').text())


                            if (amount <= 0)
                            {
                                this.confirmticket(eventid, confirmjson, 'FREE')
                            }
                            else
                            {
                               // jQuery('#payment').show();
                                this.pay(amount, json, confirmjson, revertjson, eventid)
                            }



                        }
                        else {
                            this.isLoading = false;
                            alert(response.data.message);
                        }
                    })
                    .catch(function (error) {
                        // handle error
                        debugger
                        console.log(error);
                        this.isLoading = false;
                    });

            },

            SuccessMessage(message, title)
            {

                $('<div></div>')
                    .html('<div><h6>' + message + '</h6></div>')
                    .dialog({
                        modal:true,
                        title:title,
                        width:400,
                        buttons: {
                            Ok: function() {
                                $( this ).dialog( "close" );
                                //component.getDataTab(null)

                            }
                        }
                    });
            },


            confirmticket(eventid, json, refky)
            {
                debugger
                //window.localStorage.setItem('jeticket', '');
                //window.localStorage.setItem('jeticket_EventId', '');

                axios.post(window.base_path + '/api/confirmrevertEventTickets', {
                    data: json,
                    event_id: eventid,
                    confirm: true,
                    event_ticket_ref: refky
                })
                    .then((response) => {
                        debugger
                        this.SuccessMessage(response.data.message);
                        this.$parent.$refs.getDatatab('joined');
                        jQuery('#BuyEventTickets').modal('hide');
                        //this.$parent.$refs.getDatatab('joined');
                    })
                    .catch(function (error) {
                        // handle error
                        debugger
                    });
            }
        },



        created(){
debugger

            //this.eventId = window.buyticketevent_id;
            //this.typeId = window.buyticketevent_type;

        }

    }

    //$('#myModal').modal('hide')






</script>


<style>
    .ui-widget-header {
        border: 1px solid #5a2591;
        background: #5a2591;
        color: #fff;

    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #454545;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #ffffff;
    }
</style>