<template>

             <span class="menu-counter" id="lblgroupcount">{{ datalength }}</span>

</template>


<script>
   
    // Import stylesheet

    export default {
       props:{
      

        groupId:{
          type:Number,
        },
       },

        data(){
          return {
              url: window.base_path+'/api/receviedRequest',
              page: 1,
              datalength: 0,
              isLoading: false,
              data:[],
              alldata:[],
              is_group_view:false,

              comments:{0:''},
              enterComment:{},
        }
    },
       methods:{

        getData(){
          this.isLoading = true;
          axios.get(this.url , 
             {
               page: this.page,
               group_id:this.groupId
              })
              .then( (response) => {
                  
                 if(response.data.data){
debugger
                  if(response.data.data.length > 0){

                   this.datalength = response.data.meta.total;
                   this.data = this.data.concat(response.data.data);
                   this.page += 1;
                   this.isLoading = false;
               
             
                   
                 }else{
                 
                  
                   
                 }

                 }else{
                 
                 }
                  
                 
              })
              .catch( (error) => {
                // handle error

                $state.complete();
                this.isLoading = false;
              })
              .finally( () => {
                 
                 this.isLoading = false;
              });
        },

        
       },

       created(){

            this.getData();
    
             
       },

       computed:{
        userAvatar: () => {
          return window.user_avatar;
        }
       }
    }
</script>

<style>


</style>