<template>

<!-- Modal -->
<div id="EditEventModel" class="modal fade" role="dialog">


  <div class="modal-dialog">
  <loading :active.sync="isLoading" 
        :is-full-page="false" class="center loader-xs"></loading>
    
    <!-- Modal content-->
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Event</h4>
      </div>
      <div class="modal-body">
        
        <form role="form">

          <div class="form-group">
            <label for="title">Event Entry Type</label>
            <select v-model="selected_ptype" id="patmentid" class="form-control" required="">
              <!--<option v-for="paymenttype in event_Paymenttype" :value="paymenttype.id">-->
              <option v-for="paymenttype in event_Paymenttype"  :value="paymenttype" :selected="editEvent.event_payment_id === paymenttype.id">{{ paymenttype.title }}
               </option>
            </select>
            <div v-if="errors && errors.event_paymenttype_id && errors.event_paymenttype_id[0]"
                 class="error">{{ errors.event_paymenttype_id[0] }}
            </div>
          </div>

          <div v-for="(post,index) in event_Tickets_data" v-if="selected_ptype.id==3"
               class="follow-user sidebar-box">
            <div style="margin-left: 0px;">

              <!--img v-bind :src="'./public/img/NORMAL.png'" alt="user" style="height: 25px; width: 25px; margin-top: 0px;"-->
              <img  v-bind:src="index == 0 ? './public/img/NORMAL.png' : './public/img/VIP.png'" alt="user" style="height: 25px; width: 25px; margin-top: 0px;" />
              <label for="title" style="margin-left: 10px; margin-top: 5px"> {{ post.title }} </label>
              <input v-model="post.is_unlimited == 1 || post.event_ticket_total > 0 || post.event_ticket_price > 0 ? true : false" type='checkbox' @change="TicketValReset(index)" data-toggle='collapse' :data-target="'#collapsediv' + index"
                     style="vertical-align: middle; float: right; margin-top: 10px" :id="'chkMain' + index"></input>

            </div>
            <div :class="post.is_unlimited == 1 || post.event_ticket_total > 0 || post.event_ticket_price > 0 ? 'collapse div1 in' : 'collapse div1'"  style="margin-top: 0px; margin-left: 0px;" :id="'collapsediv' + index">
              <hr style="margin-top: 1px; margin-bottom: 1px;">

              <div class="row" style="margin-top: 10px;">
                <div class="form-group col-xs-1" style="margin-left: 10px;">
                  <label for="title">Qty</label>
                </div>
                <div class="form-group col-xs-2">
                  <input v-model="post.event_ticket_total" type="number" class="form-control" placeholder="0" :disabled="post.is_unlimited == 1 ? true : false" required :id="'Qty' + index">
                </div>
                <div class="form-group col-xs-2" style="margin-left: 10px;">
                  <label for="title">Per Ticket</label>
                </div>
                <div class="form-group col-xs-2">
                  <input v-model="post.event_ticket_price" type="number" class="form-control" placeholder="0" required :id="'Price' + index">
                </div>

                <div class="form-group col-xs-1">
                  <label for="title">AUD</label>
                </div>

                <div class="form-group col-xs-2" style="float: right;">
                  <input v-model="post.is_unlimited == 1 ? true : false" type='checkbox' @change="updateActiveStatus(index)"
                         style="vertical-align: middle; float: right; margin-top: 7px" :id="'chkunlimited' + index">Unlimited</input>
                </div>

              </div>


            </div>
          </div>



            <div class="form-group">
              <label for="title">Event Type</label>
              <select v-model="editEvent.event_type_id" id="typeid" class="form-control" required="">
                <!--<option v-for="type in event_types" :value="type.id">{{ type.title }}</option>-->
                <option v-for="type in event_types"  :selected="editEvent.event_type_id === type.title">{{ type.title }}</option>
              </select>
              <div v-if="errors && errors.event_type_id && errors.event_type_id[0]" class="error">{{ errors.event_type_id[0] }}</div>
            </div>

            <div class="row">
              <div class="form-group col-xs-4">
                <label for="title">Title</label>
                <input v-model="editEvent.title" type="text" class="form-control" id="title" placeholder="Title" required>
                <div v-if="errors && errors.title && errors.title[0]" class="error">{{ errors.title[0] }}</div>
              </div>
              <div class="form-group col-xs-4">
                <label for="venue_address">Venue Address</label>
                <input v-model="editEvent.venue_address" type="text" class="form-control" id="venue_address" placeholder="Venue Address" required>
                <div v-if="errors && errors.venue_address && errors.venue_address[0]" class="error">{{ errors.venue_address[0] }}</div>
              </div>
              <div class="form-group col-xs-4">
                <label for="venue">Venue</label>
                <input v-model="editEvent.venue" type="text" class="form-control" id="venue" placeholder="Venue" required>
                <div v-if="errors && errors.venue && errors.venue[0]" class="error">{{ errors.venue[0] }}</div>
              </div>
            </div>


            <div class="form-group">
              <label>Description</label>
              <textarea v-model="editEvent.description" name="description" id="" style="width: 100%;" rows="3" required></textarea>
              <div v-if="errors && errors.description && errors.description[0]" class="error">{{ errors.description[0] }}</div>
            </div>

            <div class="row">
              <div class="form-group col-xs-6">
                <label>Select Date</label>
                <date-picker v-model="editEvent.event_date" valueType="format" lang="en" required></date-picker>   
              </div>
              <div class="form-group col-xs-6">
                <label for="venue">Event Time</label>
                <date-picker v-model="editEvent.event_time" lang="en" type="time" format="HH:mm" placeholder="Select Time" :minute-step="1" required></date-picker>
              </div>
            </div>

            <div class="form-group">
                      
              <label class="radio-inline">
                <input type="radio" v-model="editEvent.event_show" name="event_type" value="Public" checked="" required>Public
              </label>
              <label class="radio-inline">
                <input type="radio" v-model="editEvent.event_show" name="event_type" value="Private" required>Private
              </label>
              
            </div>


            <div class="form-group">
              <label>Choose Image</label>
              <input type="file" id="file" ref="file" v-on:change="onChangeFileUpload()"/>
            </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-default" @click="postData()">Save</button>
       
      </div>
    </div>

  </div>
</div>
</template>

<script>
    export default {
        props:{

        },
        data(){
          return {

              editEvent:{
                event_type_id : '',
                  event_payment_id: '',
                    title : '',
                    description : '',
                    venue : '',
                    venue_address : '',
                    event_date : '',
                    event_time : '',
                    event_time_show : '',
                    event_show : '',
                    image : '',
                    tickets: []
            },

               onload: false,
               event_types: [],
               selected_ptype: {},
               event_Paymenttype: [],
               event_Tickettype: [],
               event_Tickets_data: [],
               isLoading: false,
               errors: {},
               form: new Form({
                event_type_id : '',
                event_payment_id: '',
                title : '',
                description : '',
                venue : '',
                venue_address : '',
                event_date : '',
                event_time : '',
                event_show : '',
                image : '',
            })
      
        }
    },
      methods:{

        getEventTypes(){
          this.isLoading = true;
          axios.get(window.base_path+'/api/eventType')
              .then( (response) => {
                 this.event_types = response.data.data;

                 this.isLoading = false;
              })
              .catch(function (error) {
                // handle error
                console.log(error);
               // this.isLoading = false;
              });
            
        },

        getEventPaymentType(){
            debugger
              this.isLoading = true;
              axios.get(window.base_path + '/api/eventPaymentType')
                  .then((response) => {
                  debugger
                      this.event_Paymenttype = response.data.data;
                      let paymenttype = {
                          id: (this.editEvent.event_payment_id != null && this.editEvent.event_payment_id != "" ? this.editEvent.event_payment_id : this.event_Paymenttype[0].id),
                          title: (this.editEvent.event_payment_id != null && this.editEvent.event_payment_id != "" ? this.editEvent.event_payment_type_name : this.event_Paymenttype[0].title)
                      };

                      this.selected_ptype=paymenttype;
                      this.isLoading = false;
                  })
                  .catch(function (error) {
                      // handle error
                      console.log(error);
                      this.isLoading = false;
                  });

          },


          seteventTicketEditMode(TypeModal, EditModal)
          {
              debugger
              for (var i=0; i<TypeModal.length; i++)
              {
                  var IsExist = false;
                  for(var d=0; d<EditModal.length; d++)
                  {
                      if(TypeModal[i].id == EditModal[d].event_ticket_type_id)
                      {
                          IsExist = true;
                          let Tickets = {
                              id: EditModal[d].event_ticket_type_id,
                              title: EditModal[d].title,
                              event_ticket_type_id: EditModal[d].event_ticket_type_id,
                              event_ticket_total: EditModal[d].event_ticket_total,
                              event_ticket_buy: 0,
                              event_ticket_sold: EditModal[d].event_ticket_sold,
                              event_ticket_price: EditModal[d].event_ticket_price,
                              is_unlimited: EditModal[d].is_unlimited,
                              extraqty: 0
                          };
                          this.event_Tickets_data.push(Tickets);
                          break;
                      }
                  }
                  if(IsExist == false)
                  {
                      let Tickets = {
                          id: TypeModal[i].id,
                          title: TypeModal[i].title,
                          event_ticket_type_id: TypeModal[i].id,
                          event_ticket_total: 0,
                          event_ticket_buy: 0,
                          event_ticket_sold: 0,
                          event_ticket_price: 0,
                          is_unlimited: 0,
                          extraqty: 0
                      };
                      this.event_Tickets_data.push(Tickets);
                  }
              }
              this.onload = true;
          },

        getEventTicketType(){
              this.isLoading = true;
              axios.get(window.base_path + '/api/eventTicketType')
                  .then((response) => {
                  debugger

                      this.event_Tickettype = response.data.data;

                      this.seteventTicketEditMode(this.event_Tickettype, this.editEvent.tickets);

                      this.isLoading = false;
                  })
                  .catch(function (error) {
                      // handle error
                      console.log(error);
                      this.isLoading = false;
                  });

          },

        postData(){

            debugger
            if (this.selected_ptype.id == 3) {
                var IsTicketSelected = 'false'
                for (var i = 0; i < this.event_Tickets_data.length; i++) {
                    if (this.event_Tickets_data[i].is_unlimited == 1 || this.event_Tickets_data[i].event_ticket_total > 0) {
                        {
                            IsTicketSelected = 'true'
                        }
                    }
                }

                if (IsTicketSelected == 'false') {
                    //alert('Ticket are not selected, Please Enter Tickets Detail');
                    this.SuccessMessage('Ticket are not selected, Please Enter Tickets Detail', 'Update Event');
                    return
                }
            }

          let eslected_ev_type =   this.editEvent.event_type_id
          //let eslected_ev_ptype = this.editEvent.event_type_id
            //event_payment_id
            //event_payment_type_name
          debugger
          this.isLoading = true;

          let seleted_event_typeid = this.event_types.filter(function(ev) {

                return ev.title == eslected_ev_type ;
            });


          let data = new FormData();
          data.append('edit_id', this.editEvent.id);
          data.append('event_type_id', seleted_event_typeid[0].id);
          data.append('event_payment_id', this.selected_ptype.id);
          data.append('title', this.editEvent.title);
          data.append('description', this.editEvent.description);
          data.append('venue_address', this.editEvent.venue_address);
          data.append('venue', this.editEvent.venue);
          
          if(this.editEvent.event_date){
            data.append('event_date', this.editEvent.event_date);
          }
          data.append('event_show', this.editEvent.event_show);
          
          if(this.editEvent.event_time){
            data.append('event_time', this.formatTime(this.editEvent.event_time));
          }
          if(this.form.image){
          //  data.append('image', this.editEvent.image);
            data.append('image', this.form.image, this.form.image.fileName);
          }

          const config = { headers: { 'Content-Type': 'multipart/form-data' } };
          axios.post(window.base_path+'/api/eventCreate',data,config )
              .then( (response) => {
                this.isLoading = false;
debugger
                if(response.data){
                  if(response.data.success == 0){
                    //this.errors = response.data.data;
                    //new Snackbar(response.data.message,{timeout: 3000});
                      this.SuccessMessage(response.data.message, 'Update Event');
                      this.isLoading = false;

                  }else if(response.data.success == 1){

                      if (this.selected_ptype.id == 3) {
                          this.setEventTickets(response.data.data.id);
                      }
                      else {
                          new Snackbar('Event Updated Successfully.', {timeout: 3000});
                          this.form.reset();
                          jQuery('#EditEventModel').modal('hide');
                          this.$parent.getDataTab(null);
                      }
                  }
                }
              
              })
              .catch(function (error) {
                // handle error
                //console.log(error);
                this.SuccessMessage(error.toString(), 'Update Event');
                this.isLoading = false;
              });
        },

        eventLike(){
         
        },

          toDate(dStr,format) {
              var now = new Date();
              if (format == "h:m") {
                  now.setHours(dStr.substr(0,dStr.indexOf(":")));
                  now.setMinutes(dStr.substr(dStr.indexOf(":")+1));
                  now.setSeconds(0);
                  return now;
              }else
                  return "Invalid Format";
          }  ,

          updateActiveStatus(index){
            debugger
              if(jQuery('#chkunlimited' + index).get(0).checked == true)
              {
                  jQuery('#Qty' + index).val('')
                  jQuery('#Qty' + index).prop('disabled', true)
                  this.event_Tickets_data[index].is_unlimited = 1;
                  this.event_Tickets_data[index].event_ticket_total = 0;
              }
              else
              {
                  jQuery('#Qty' + index).prop('disabled', false)
                  this.event_Tickets_data[index].is_unlimited = 0;
              }
          },

          TicketValReset(index){
              debugger
              jQuery('#chkunlimited' + index).prop('checked', false)
              jQuery('#Qty' + index).val('')
              jQuery('#Price' + index).val('')

              this.event_Tickets_data[index].is_unlimited = 0;
              this.event_Tickets_data[index].event_ticket_total = 0;
              this.event_Tickets_data[index].event_ticket_price = 0;
          },

          SuccessMessage(message, title)
          {

              $('<div></div>')
                  .html('<div><h6>' + message + '</h6></div>')
                  .dialog({
                      modal:true,
                      title:title,
                      width:400,
                      buttons: {
                          Ok: function() {
                              $( this ).dialog( "close" );
                              //component.getDataTab(null)

                          }
                      }
                  });
          },

          setEventTickets(id){
              debugger
              var itemlist = [];
              for(var i = 0;i<this.event_Tickets_data.length;i++){

                  //if(this.event_Tickets_data[i].is_unlimited == 1 || this.event_Tickets_data[i].event_ticket_total > 0)
                  //{
                      itemlist.push(this.event_Tickets_data[i]);
                  //}
/*
                  if (jQuery('#chkunlimited' + i).get(0).checked == true || jQuery('#Qty' + i).val() > 0) {
                      let Tickets = {
                          id: this.event_Tickettype[i].id,
                          title: this.event_Tickettype[i].title,
                          event_ticket_type_id: this.event_Tickettype[i].id,
                          event_ticket_total: (jQuery('#Qty' + i).val() == '' ? '0' : jQuery('#Qty' + i).val()),
                          event_ticket_buy: 0,
                          event_ticket_sold: 0,
                          event_ticket_price: (jQuery('#Price' + i).val() == '' ? '0' : jQuery('#Price' + i).val()),
                          is_unlimited: (jQuery('#chkunlimited' + i).get(0).checked == true ? 1 : 0),
                          extraqty: 0
                      };
                      this.event_Tickets_data.push(Tickets);
                  }
                  */
              }

              var json = JSON.stringify(itemlist);

              this.isLoading = true;
              let Ticketdata = new FormData();
              Ticketdata.append('data', json);
              Ticketdata.append('event_id', id);
              Ticketdata.append('edit_id', id);

              axios.post(window.base_path + '/api/generateeventTickets', Ticketdata)
                  .then((response) => {
                      this.isLoading = false;
debugger
                      if (response.data) {
                          if (response.data.success == 0) {
                              this.SuccessMessage(response.data.message, 'Update Event');
                              this.isLoading = false;
                              //this.errors = response.data.data;
                              //new Snackbar(response.data.message, {timeout: 3000});
                          } else if (response.data.success == 1) {
                              new Snackbar(response.data.message, {timeout: 3000});
                              //this.form.reset();
                              //jQuery('#EditEventModel').modal('hide');

                              this.form.reset();
                              jQuery('#EditEventModel').modal('hide');
                              this.$parent.getDataTab(null);
                          }
                      }

                  })
                  .catch(function (error) {
                      // handle error
                      //console.log(error);
                      this.SuccessMessage(error.toString(), 'Update Event');
                      this.isLoading = false;
                  });



          },

        onChangeFileUpload(){
          this.form.image = this.$refs.file.files[0];
        },

        typeCheck(title){
           if(title == this.editEvent.event_type_id){
             return true;
           }
        },

        just(id)
        {
            debugger
            var ptypeid = this.editEvent.event_payment_id;
            //this.form
            var ids = id;
        },

        getEvent(event){
            debugger
            this.selected_ptype = {};
            this.event_Paymenttype = [];
            this.event_Tickettype = [];
            this.event_Tickets_data = [];


            this.editEvent = Object.assign({}, event);
            this.editEvent.event_time = this.toDate(this.editEvent.event_time,'h:m');
            this.getEventTypes();
            debugger
            this.getEventPaymentType();
            this.getEventTicketType();
            //this.form.event_payment_id = (this.editEvent.event_payment_id == null || this.editEvent.event_payment_id == "" ? 1 : this.editEvent.event_payment_id);


         console.log(this.editEvent.event_time);
        }
       },
      // mounted(){
      //
      //      },
       created(){
        /*
            debugger
           this.getEventPaymentType();
           this.getEventTicketType();
           this.form.event_paymenttype_id = this.editEvent.event_paymenttype_id;
       */
        }
       
    }
</script>
<style>
  .ui-widget-header {
    border: 1px solid #5a2591;
    background: #5a2591;
    color: #fff;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #5a2591;
    background: #5a2591;
    font-weight: normal;
    color: #454545;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #5a2591;
    background: #5a2591;
    font-weight: normal;
    color: #ffffff;
  }
</style>