<template>

<!-- Modal -->
<div id="EditGroupModal" class="modal fade" role="dialog">


  <div class="modal-dialog">
  <loading :active.sync="isLoading" 
        :is-full-page="false" class="center loader-xs"></loading>
    
    <!-- Modal content-->
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Group</h4>
      </div>
      <div class="modal-body">
        
        <form role="form">
            <div class="form-group">
              <label for="title">Group Type</label>
              <select v-model="editgroup.group_type_id" class="form-control" required="">
                <option v-for="type in group_types" :selected="editgroup.group_type_id === type.title">{{ type.title }}</option>
              </select>
              <div v-if="errors && errors.group_type_id && errors.group_type_id[0]" class="error">{{ errors.group_type_id[0] }}</div>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input v-model="editgroup.name" type="text" class="form-control" id="name" placeholder="Title" required>
                <div v-if="errors && errors.name && errors.name[0]" class="error">{{ errors.name[0] }}</div>
            </div>

            <div class="form-group">
              <label>Description</label>
              <textarea v-model="editgroup.description" name="description" id="" style="width: 100%;" rows="3" required></textarea>
              <div v-if="errors && errors.description && errors.description[0]" class="error">{{ errors.description[0] }}</div>
            </div>

            <div class="form-group">
              <label>Choose Image</label>
              
              <input type="file" id="file" ref="file" v-on:change="onChangeFileUpload()" required>
            </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-default" @click="postData()">Save</button>
      </div>
    </div>

  </div>
</div>
</template>

<script>
    export default {
        props:{
          group:Object,

        },
        data(){
          return {

              editgroup:{
                  id : '',
                  name: '',
                  group_type_id : '',
                  description : '',
                  image : ''
              },



              //editgroup: {},
              selected_Etype: {},
               group_types: [],
               isLoading: false,
               errors: {},
               form: new Form({
                group_type_id : '',
                name : '',
                description : '',
                image : '',
            })
      
        }
    },
      methods:{
        getEventTypes(){
          this.isLoading = true;
            var compound = this;
          axios.get(window.base_path+'/api/groupTypes')
              .then( (response) => {
                 this.group_types = response.data.data;

                 /*
                  let eventtype = {
                      id: (this.editgroup.group_type_id != null && this.editgroup.group_type_id != "" ? this.editgroup.group_type_id : this.event_Paymenttype[0].id),
                      title: (this.editgroup.group_type_id != null && this.editgroup.group_type_id != "" ? this.editgroup.event_payment_type_name : this.event_Paymenttype[0].title)
                  };
                  */

debugger



                  //this.editgroup.group_type_id = this.selected_Etype[0].id;

                  debugger



                 this.isLoading = false;
              })
              .catch(function (error) {
                // handle error
                  debugger
                console.log(error);
                  compound.isLoading = false;
              });
            
        },

        postData(){
debugger
           this.isLoading = true;

          var compound = this;


            this.selected_Etype = this.group_types.filter(function(type) {
                return type.title == compound.editgroup.group_type_id;
            });


          let data = new FormData();
          data.append('edit_id', this.editgroup.id);


          //data.append('group_type_id', this.editgroup.group_type_id);
            data.append('group_type_id', this.selected_Etype[0].id);

          data.append('name', this.editgroup.name);
          data.append('description', this.editgroup.description);

          if(this.form.image){
            data.append('image', this.form.image, this.form.image.fileName);
          }
            const config = { headers: { 'Content-Type': 'multipart/form-data' } };
          axios.post(window.base_path+'/api/createGroup',data, config )
              .then( (response) => {
              this.isLoading = false;
                  debugger
              if(response.data){
                  if(response.data.success == 0){
                    this.SuccessMessage(response.data.message, 'Update Group');
                    this.isLoading = false;
                  }else if(response.data.success == 1){

                      new Snackbar('Group Updated Successfully.', {timeout: 3000});
                      this.form.reset();
                      jQuery('#EditGroupModal').modal('hide');
                      this.$parent.getDataTab(null);
                  }
                }
              })
              .catch(function (error) {
                // handle error
                //console.log(error);
                //this.isLoading = false;
                  debugger
                  compound.SuccessMessage(error.toString(), 'Update Group');
                  compound.isLoading = false;
              });
        },

        eventLike(){
         
        },


        onChangeFileUpload(){
          this.form.image = this.$refs.file.files[0];
        },

          SuccessMessage(message, title)
          {

              $('<div></div>')
                  .html('<div><h6>' + message + '</h6></div>')
                  .dialog({
                      modal:true,
                      title:title,
                      width:400,
                      buttons: {
                          Ok: function() {
                              $( this ).dialog( "close" );
                              //component.getDataTab(null)

                          }
                      }
                  });
          },

          getgroup(group){
              debugger
              //this.editgroup = {};
              this.selected_Etype = {};
              this.group_types = [];

              this.editgroup = Object.assign({}, group);
              //this.editEvent.event_time = this.toDate(this.editEvent.event_time,'h:m');
              this.getEventTypes();

          }

       },

       created(){
         this.getEventTypes();
       }
       
    }
</script>
