<template>

    <div class="posts-inner-wrap">



        <!--<div  class="posts-inner-wrap" id="payment"></div>-->


        <attendance-modal ref="attendancemodal" v-if="eventType == 'createdbyme'"
                          :event-id="event_id"></attendance-modal>
        <editevent-modal ref="editmodal"></editevent-modal>
        <scan-qr ref="scanqrmodal" v-if="eventType == 'createdbyme'"></scan-qr>
        <!--<buyticket-modal ref="buyticketmodal"></buyticket-modal>-->
        <!--<buyticket-modal ref="buyticketmodal"  v-if="eventType != 'joined' && eventType != 'createdbyme'"></buyticket-modal>-->
        <buyticket-modal ref="buyticketmodal"></buyticket-modal>


        <revenuedetail-modal ref="revenuedetailmodal"></revenuedetail-modal>
        <!--<buyticket-modal ref="buyticketmodal" v-if="eventType == 'popular'"></buyticket-modal>-->

        <div class="post-content" v-for="(post,index) in data">
            <div class="codeinfasters-loader-overlay trans" :id="'event-loader-'+index">
                <div class="loading yes m-0 center"></div>
            </div>
            <div class="user-info evengo-user-info">
                <img v-bind:src="post.created_at ? post.created_by.Avatarurl : ''" alt="user"
                     class="profile-photo-md pull-left"/>
                <h5>
                    <a :href="base_url+'/event/'+post.id" class="profile-link">{{ post.created_by.fname
                    }} {{ post.created_by.lname }}</a>
                    <!-- <span v-if="post.group"> > <a :href="'/group/view/'+post.id+'/ '">{{ post.group.name }}</a></span> -->
          <span class="float-right">
          <span class="label label-primary">{{ post.event_date }}</span>
          <span class="label label-primary">{{ post.event_time }}</span>

          <span class="dropdown sec env-opt-dropdown"  v-if="post.created_by.id != auth_user.id">

            <span class="btn  btn-primary label label-success" @click="JoinFreeEvent(post.event_payment_id, post.id, index, eventJoinStatus(post.eventJoin))" id="sdropdownJoinOption" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sec-text">{{ eventJoinStatus(post.eventJoin) }}</span>
                </span>

            <div v-if="post.created_by.id != auth_user.id && eventJoinStatus(post.eventJoin) == 'Join' && post.event_payment_id == 3" class="dropdown-menu evn-menu" aria-labelledby="sdropdownJoinOption" >
                <span v-for="(ticketTypes,tindex) in post.tickets" class="dropdown-item" :id="'lbl' + ticketTypes.tindex" @click="BuyEventTickets(post.id,ticketTypes.event_ticket_type_id)">{{ ticketTypes.title }}
                </span>
            </div>
        </span>

          <span v-if="post.created_by.id == auth_user.id" class="btn  btn-primary label label-success"
                @click="Attendance(post.id,index)">Attendance</span>
          <span v-if="post.created_by.id == auth_user.id && post.attendence != 'out' && checkForTime(post.event_date,post.event_time) == true" class="btn  btn-primary label label-success"
                @click="scanqr(post,index)">Scan QR Code</span>
          <span v-if="post.created_by.id == auth_user.id && post.attendence != 'out' && checkForTime(post.event_date,post.event_time) == true" class="btn  btn-primary label label-success"
                @click="allarrived(post.id)">All Arrived</span>
          <span v-if="post.created_by.id == auth_user.id && post.attendence != 'out' && checkForTime(post.event_date,post.event_time) == true" class="btn  btn-primary label label-success"
                @click="closeevent(post.id)">Close Event</span>
          <span v-if="post.created_by.id == auth_user.id" class="btn  btn-primary label label-success"
                @click="Edit(post,index)">Edit</span>

           <!--<span v-if="post.created_by.id == auth_user.id" class="btn  btn-primary label label-success"
                               @click="pay(5000)">pay</span>-->

          </span>
          </h5>
                <p class="text-muted">{{ post.created_at }} <span class="float-right"></span></p>
            </div>
            <div class="post-text">
                <h5>{{ post.title }} - {{post.event_type_id}}&nbsp<span v-if="post.attendence == 'out'">(Event Ended)</span></h5>
                <h6>{{ post.venue_address }}</h6>
                <h6 v-if="post.group != null"> Shared In Group : {{ post.group }}</h6>
                <p>{{ post.description }}</p>
            </div>

            <!-- Ticket Info Section Start -->
            <div v-if="post.event_payment_id == 3" class="row">
                <div v-for="(posttickL,indextickL) in post.tickets" style="margin-left: 10px; width: 48%" :class="'form-group col-xs-' + 12/post.tickets.length" class="follow-user sidebar-box">
                    <div class="row"><img  v-bind:src="posttickL.event_ticket_type_id == 1 ? './public/img/NORMAL.png' : './public/img/VIP.png'" alt="user" style="height: 35px; width: 35px; margin-top: 0px; margin-left: 100px; text-align: center; margin-bottom: 5px" /></div>
                    <hr style="margin-top: 1px; margin-bottom: 1px;">
                    <div class="row">
                        <label :for="'title' + indextickL" style="margin-left: -60px; float: left; margin-top: 5px">{{ posttickL.title }} Tickets</label>
                        <label :for="'price' + indextickL" style="float: right; margin-top: 5px; margin-right: 10px">AUD {{ posttickL.event_ticket_price }}</label>
                    </div>

                    <div class="row">
                        <label style="margin-top: -5px; margin-left: -60px; float: left" :for="'available' + indextickL">{{ posttickL.is_unlimited == 1 ? 'Unlimited' : posttickL.event_ticket_total - posttickL.event_ticket_sold}} Tickets Available</label>
                        <label style="margin-top: -5px; margin-right: 10px; float: right" :for="'sold' + indextickL">{{ posttickL.event_ticket_sold }} Tickets Sold</label>
                    </div>

                    <a v-if="post.created_by.id == auth_user.id" class="row" @click="RevenueDetailModal(post.id, posttickL.event_ticket_type_id, showrevenue(posttickL.event_ticket_sold, posttickL.event_ticket_price))" >
                        <label :for="'title'" style="float: left; margin-top: -5px">Revenue Earned<span> (view details...)</span></label>
                        <label :for="'price'" style="float: right; margin-top: -5px;">AUD {{ showrevenue(posttickL.event_ticket_sold, posttickL.event_ticket_price) }}</label>
                    </a>
                </div>
            </div>
            <!-- Ticket Info Section End -->

            <!-- Revenue Section Start -->
            <!--<div v-if="post.created_by.id == auth_user.id && post.event_payment_id == 3" class="row">
                <div v-for="(posttr,indextr) in post.tickets" style="margin-left: 10px; width: 48%" :class="'form-group col-xs-' + 12/post.tickets.length" class="follow-user sidebar-box">

                    <div class="row">
                        <label :for="'title' + indextr" style="margin-left: -60px; float: left; margin-top: 5px">Total Revenue Generate</label>
                        <label :for="'price' + indextr" style="float: right; margin-top: 5px; margin-right: 10px">AUD {{ showrevenue(posttr) }}</label>
                    </div>

                </div>
            </div>-->

            <a v-if="post.created_by.id == auth_user.id && post.event_payment_id == 3" class="row" style="margin-left: 0px; margin-right: 0px" @click="RevenueDetailModal(post.id, 0, showsumofrevenue(post))">
                <div :class="'form-group col-xs-12'" class="follow-user sidebar-box">

                    <div class="row">
                        <label :for="'title'" style="margin-left: -60px; float: left; margin-top: 5px">Total Revenue Earned <span> (view details...)</span></label>
                        <label :for="'price'" style="float: right; margin-top: 5px; margin-right: 10px">AUD {{ showsumofrevenue(post) }}</label>
                    </div>

                </div>
            </a>
            <!-- Revenue Section End -->


            <div class="post-img">
                <img v-bind:src="post.image" alt="post-image" class="img-responsive post-image"/>
                <div class="post-img-detail-overlay">
                    <div class="d-content">
                        <span>Likes {{ post.totalLike }}</span>
                     <!--   <span class="float-right">Comments {{ post.totalComment }}</span>  -->
                    </div>
                </div>
            </div>
            <div class="post-footer">
                <div class="sec" @click="LikeDislikePost(post.event_id,index)" style="cursor: pointer;">
                    <span><i :class="'icon ion-ios-heart '+Liked(post.like)"></i></span>
                    <span class="sec-text" style="text-transform: capitalize;">{{ LikedText(post.like) }}</span>
                </div>
             <!--   <div class="sec" style="cursor: pointer;">
                    <span style="margin-right: 5px;"><i class="icon ion-chatbox-working"></i></span>
                    <span class="sec-text" @click="openCommentBox(post.event_id,index)">Comment</span>
                </div>  -->
                <div v-if="auth_user.id == post.created_by.id" class="sec" style="cursor: pointer;">

                    <div class="dropdown sec env-opt-dropdown">

                        <a class="dropdown" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <span style="margin-right: 5px;"><i class="icon ion-android-share-alt"></i></span>
                            <span class="sec-text">Share</span>
                        </a>

                        <div class="dropdown-menu evn-menu" aria-labelledby="dropdownMenuLink">
                            <span class="dropdown-item" @click="shareEvent(post.id,'user')">Share with User</span>
                            <span class="dropdown-item" @click="shareEvent(post.id,'group')">Share in Group</span>
                            <span v-if="auth_user.id != post.created_by.id" class="dropdown-item"
                                  @click="eventJoin(post.id)">Join</span>

                        </div>

                    </div>

                    </a>
                </div>

            </div>

            <div class="post-container" style="display: none;" :id="'comment-box-'+index">

                <div class="post-detail">

                    <div class="line-divider"></div>
                    <div class="text-center">
                        <div class="loading" :id="'loader-evnt-'+index"></div>
                    </div>

                    <div :id="'comments-wrapper-'+index">

                    </div>

                 <!--   <div class="post-comment">
                        <img v-bind:src="userAvatar" alt="" class="profile-photo-sm">
                        <input v-model="enterComment[post.event_id]" class="form-control" placeholder="Post a comment"
                               @keyup.enter="addComment(post.event_id,index)">
                    </div>  -->
                </div>
            </div>


        </div>

        <!-- <loading :active.sync="isLoading"
            :is-full-page="false"></loading> -->




        <share-event-modal :event-id="event_id" :share-with="share_with"></share-event-modal>

        <infinite-loading v-if="is_group_view" @infinite="getGroupEvents"></infinite-loading>

        <infinite-loading v-if="!is_group_view" @infinite="getData"></infinite-loading>


        <div id="codemodal" class="modal fade" role="dialog">


            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">


                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Attendance QR Code:</h4>
                    </div>
                    <div class="modal-body text-center">
                        <img :src="qr_code_path()" alt="" style="width: 190px">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a :href="qr_code_path()" class="btn btn-default" :download="qr_code_path()">Download</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</template>


<script>
    import Vue from 'vue/dist/vue.esm.js';
    import Loading from 'vue-loading-overlay';

    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    import VueGeolocation from 'vue-browser-geolocation';
    //   Vue.use(VueGeolocation);
    export default {

        props: {


            groupPost: {
                type: Boolean,
            },

            eventJoined: {
                type: Boolean,
            },

            groupId: {
                type: Number,
            },

            sharedWithMe: {
                type: Boolean,
            },
        },


        ready() {



    },

        data(){
            return {
                eventType: 'popular',
                qr_code: '',
                base_url: window.base_url,
                url: window.base_path + '/api/allEvent',
                auth_user: {},
                event_id: 0,
                page: 1,
                isLoading: false,
                data: [],
                alldata: [],
                is_group_view: false,
                group_id: '',
                comments: {0: ''},
                enterComment: {},
                share_with: '',
                type_id:0,
                nextPage: '',
                search: '',
                scanner : null

            }
        },

        mounted() {


        },


        methods: {


            checkForTime(date ,time)
            {
                var eventtime = new Date(date + ' ' + time)
                console.log(eventtime);
                var currenttime =  new Date()

                var diff =(eventtime.getTime()  - currenttime.getTime()) / 1000;
                diff /= 60;
                var minutes =  Math.round(diff);
                console.log(minutes);

                if(minutes <= 120) return true

                return false
            },


            Revirtticket(eventid, json)
            {
                debugger
                window.localStorage.setItem('jeticket', '');
                window.localStorage.setItem('jerticket', '');
                window.localStorage.setItem('jeticket_EventId', '');
                window.localStorage.setItem('jerefkey', '');
                window.localStorage.setItem('jetype', 'joined');

                axios.post(window.base_path + '/api/confirmrevertEventTickets', {
                    data: json,
                    event_id: eventid,
                    confirm: false
                })
                    .then((response) => {
                        debugger
                        //this.getDatatab('joined');
                    })
                    .catch(function (error) {
                        // handle error
                        debugger
                    });
            },

            JoinFreeEvent(id, eventid, index, status)
            {
                debugger
                if(id != 3 && status == "Join")
                {
                    this.eventJoin(eventid, index);
                }
                else if (status != "Join")
                {
                    this.eventJoin(eventid, index);
                }
            },

            getDataTab(eventType)
            {

//alert(eventType)



                if (eventType != null) {
                    this.eventType = eventType
                }

                debugger
                this.search = ''
                this.data = []
                this.page = 1
                this.nextPage = ''
                this.getData()
                debugger
                var res = Vue.compile('<points></points>')
                new Vue({
                    render: res.render,
                    staticRenderFns: res.staticRenderFns
                }).$mount('#pointvalue')
            },


            eventJoinStatus(eventJoin)
            {
                if (eventJoin == 'Yes') {

                    return 'View QR Code'
                }
                return 'Join'
            },

            showrevenue(Sold, Price)
            {
                var Revenue = 0;


                var sold = Number(Sold);
                var price = Number(Price);
                Revenue += (sold * price);

                return Revenue
            },

            showsumofrevenue(postdatatickets)
            {
                var Revenue = 0;

                for(var tickets of postdatatickets.tickets)
                {
                    var sold = Number(tickets.event_ticket_sold);
                    var price = Number(tickets.event_ticket_price);

                Revenue += (sold*price);
                }

                return Revenue
            },

            Attendance(event_id, index){
                debugger
                this.event_id = event_id;
                if (this.event_id != 0) {
                    jQuery('#AttendanceModal').modal('show');
                    this.$refs.attendancemodal.getData(this.event_id)

                }

            },
            Edit(event, index){
                debugger
                window.edit_event = event;
                console.log(window.edit_event)
                var eventid = '#EditEventModel'// + event.id
                console.log(eventid)
                this.$refs.editmodal.getEvent(window.edit_event);
                //jQuery(eventid).modal('show');
                jQuery(eventid).modal({
                    backdrop: 'static',
                    keyboard: false
                })
            },

            RevenueDetailModal(event_id, type_id, totalrevenue)
            {
                this.event_id = event_id;
                this.type_id = type_id;

                var manjan = this.$refs.revenuedetailmodal;
                this.$refs.revenuedetailmodal.initialize(event_id, type_id, totalrevenue);
                jQuery('#RevenueDetail').modal({
                    backdrop: 'static',
                    keyboard: false
                })

                $('#RevenueDetail').on('hidden.bs.modal', function (item) {
                    debugger


                    try {
                        if(item.target.id == "RevenueDetail")
                        {
                            manjan.revenue_detail = null;
                            manjan.state.reset();
                        }
                    } catch (Exception) {

                        //return $e->getMessage();
                    }




                })
            },

            BuyEventTickets(event_id, type_id){
                this.event_id = event_id;
                this.type_id = type_id;
                var compound_ = this;



                debugger
                this.$refs.buyticketmodal.initialize(event_id, type_id);

                //jQuery('#BuyEventTickets').modal('show');
                jQuery('#BuyEventTickets').modal({
                    backdrop: 'static',
                    keyboard: false
                })


                $('#BuyEventTickets').on('hidden.bs.modal', function () {
                    debugger

                    var json = window.localStorage.getItem('jerticket');
                    var eventid = window.localStorage.getItem('jeticket_EventId');
                    //var eventid = window.localStorage.getItem('jeticket_EventId');
                    var JeTicketNA = window.localStorage.getItem('jeticketNA');

                    //jQuery('#payment').hide();

                    jQuery('#buy').show();


                    if (json != "" && eventid != "")
                    {
                        //this.$parent.$refs.Revirtticket(eventid, json);
                        compound_.Revirtticket(eventid, json);
                    }
                    else
                    {
                        window.localStorage.setItem('jeticket', '');
                        window.localStorage.setItem('jerticket', '');
                        window.localStorage.setItem('jeticket_EventId', '');
                        window.localStorage.setItem('jerefkey', '');
                    }



                    //this.$parent.$refs.eventtypes.getDatatab('createdbyme');
                    //this.eventType = this.eventType;

                    if(JeTicketNA != "")
                    {

                        window.localStorage.setItem('jeticketNA', '');
                        compound_.getDataTab(compound_.eventType);

                        //this.getDataTab(this.eventType)
                        //$("#menuitems").find('li').removeClass("active");
                        //$("#createdbyme").addClass("active");
                    }



                })

            },

            scanqr(event, index){
                debugger
                var component = this

                if (this.scanner == null) {

                    this.scanner = new Instascan.Scanner(
                    {
                        video: document.getElementById('preview')
                    }
                    );
                }
                this.$refs.scanqrmodal.startscan(this.scanner,event.id)
                jQuery('#ScanQRModel').modal('show');
                $('#ScanQRModel').on('hidden.bs.modal', function () {
                    debugger
                    component.scanner.stop()
                })
            },

            callarriveall(eventid)
            {
                debugger
                alert('all arrived ' + eventid)
            },

            callcloseall(eventid)
            {
                debugger
                alert('all close ' + eventid)
            },

/*
            pay(amount)
            {
                debugger
                console.log(window.location)


                let inv = Math.random().toString(16);
                inv = inv.replace(".","")
                let callbackurl = window.location.origin + window.location.pathname + "?inv=" + inv.replace(".","")

                $('#payment').append("<script src='https://secure.ewaypayments.com/scripts/eCrypt.min.js' " +
                    "class='eway-paynow-button' " +
                    "data-publicapikey='epk-1CCB4E43-C2E8-4181-B330-EF5138F3BBEC' " +
                    "data-amount='" + amount + "' " +
                    "data-currency='AUD' " +
                    "data-buttoncolor='#5e2b94'" +
                    "data-buttonerrorcolor='#880c18'" +
                    "data-buttonprocessedcolor='#5e2b94'" +
                    "data-buttondisabledcolor='#ababab'" +
                    "data-buttontextcolor='#ffffff'" +
                    "data-invoicedescription='Event Ticket Purchase'" +
                    "data-invoiceref='" + inv + "'" +
                    "data-email='" + window.auth_user.email + "'" +
                    "data-phone='0000 00 00 00'" +
                    "data-label='Proceed Ticket Payment'" +
                    "data-resulturl='" + callbackurl +"' > <\/script>");



            },
*/
            updateattendence(eventid,url,message)
            {
              debugger
                this.isLoading = true;
                var component  = this
                axios.post(window.base_path + '/api/' + url, {
                    id: eventid
                }).then((response) => {
                    debugger
                    this.isLoading = false;
                    if (response.data.success == 1) {
                        debugger
                        $('<div></div>')
                            .html('<div><h6>' + message + '</h6></div>')
                            .dialog({
                            modal:true,
                            title:"Success",
                            width:400,
                            buttons: {
                                Ok: function() {
                                    $( this ).dialog( "close" );
                                    component.getDataTab(null)
                                }
                            }
                        });
                        return
                    }

                }).catch().finally(() => {
                    this.isLoading = false;
                });
            },


            allarrived(eventid){

                debugger
                this.ConfirmDialog('Are You Sure Want To Mark All Attendies For This Event As Arrived?',
                    'ALL',eventid, 'eventQrValidateAll','All Attendees Have Been Marked As Arrived' )


            },
            closeevent(eventid){
                debugger
                this.ConfirmDialog('Are You Sure Want To Close This Event, All Attendies For This Event Will be Marked As Pass Out?',
                    'CLOSE',eventid,'eventQrValidateClose','All Attendees Have Been Marked As Passout & Event Is Closed Now'
                )
            },



            ConfirmDialog(message,callback,eventid,url,successmessage) {

                debugger

                var module =  this

                $('<div></div>').appendTo('body')
                    .html('<div><h6>' + message + '?</h6></div>')
                    .dialog({
                        modal: true,
                        title: 'Confirm',
                        zIndex: 10000,
                        autoOpen: true,
                        width: 'auto',
                        resizable: false,
                        buttons: {
                            Yes: function () {
                                debugger

                                module.updateattendence(eventid,url,successmessage)

                                $(this).dialog("close");
                            },
                            No: function () {


                                $(this).dialog("close");
                            }
                        },
                        close: function (event, ui) {
                            $(this).remove();
                        }
                    });
            },


            eventJoin(event_id, index){
                debugger
                this.isLoading = true;
                jQuery('#event-loader-' + index).addClass('yes');
                axios.post(window.base_path + '/api/eventJoin', {
                    event_id: event_id
                }).then((response) => {
                    debugger
                    this.data[index].eventJoin = 'Yes';
                    if (response.data.data) {
                        debugger
                        this.qr_code = response.data.data.qrcode;
                        if (this.qr_code.includes("localhost") == true) {
                            this.qr_code = this.qr_code.replace("localhost", "localhost/evngo");
                        }

                        //this.qr_code_path()
                        jQuery('#codemodal').modal('show');
                        this.getDataTab('joined');


                    }
                    jQuery('#event-loader-' + index).removeClass('yes');
                }).catch().finally(() => {
                    jQuery('#event-loader-' + index).removeClass('yes');
                });
            },

            shareEvent(event_id, shareWith){
                this.event_id = event_id;
                this.share_with = shareWith;
                jQuery('#eventShare').modal('show');
            },
            openCommentBox(event_id, index){
                jQuery('#comment-box-' + index).slideToggle(300);
                jQuery('#loader-evnt-' + index).addClass('yes');
                jQuery('#comments-wrapper-' + index).html('');
                axios.post(window.base_path + '/api/getComment', {
                    event_id: event_id
                }).then((response) => {

                    // Comment
                    var comment = '';
                    if (response.data.data) {
                        if (response.data.data.length > 0) {
                            response.data.data.reverse();
                            response.data.data.forEach((comment) => {
                                comment = `<div class="post-comment">
                        <img src="${comment.created_by.Avatarurl}" alt="" class="profile-photo-sm" style="float: left;">
                        <div>
                          <a href="#" class="profile-link" style="line-height: 1;">${comment.created_by.fname}</a> 
                          <p>${comment.comment}</p>
                          <span style="line-height: 1;">${comment.created_at}</span>
                        </div>                   
                      </div>`;
                                jQuery('#comments-wrapper-' + index).append(comment);
                            });

                        }
                    } else {
                        jQuery('#comments-wrapper-' + index).append(`<p>Be the First to Comment!</p>`);
                    }
                    this.comments[index] = response.data.data;
                    // jQuery('#comments-wrapper-'+index).append(comments);
                    jQuery('#loader-evnt-' + index).removeClass('yes');
                });

            },

            addComment(event_id, index){

                if (this.enterComment[event_id] != '') {
                    axios.post(window.base_path + '/api/eventComment', {
                        event_id: event_id,
                        comment: this.enterComment[event_id],
                    }).then((response) => {

                        if (response.data.success == 1) {
                            var comment = `<div class="post-comment">
                        <img src="${ window.user_avatar }" alt="" class="profile-photo-sm" style="float: left;">
                        <div>
                          <a href="#" class="profile-link" style="line-height: 1;">${window.auth_user.fname}</a> 
                          <p>${this.enterComment[event_id]}</p>
                          <span style="line-height: 1;">Just Now</span>
                        </div>                   
                      </div>`;
                            jQuery('#comments-wrapper-' + index).append(comment);
                            comment = '';
                            this.enterComment[event_id] = '';
                        }
                    }).catch();
                }
            },

            getGroupEvents($state){

                this.isLoading = true;
                axios.post(this.url, {
                    group_id: this.group_id,
                    page: this.page,
                }).then((response) => {

                    if (response.data.data.length > 0) {

                        this.data = this.data.concat(response.data.data);
                        this.page += 1;

                        this.isLoading = false;
                        $state.loaded();

                    } else {
                        $state.complete();
                    }
                }).catch().finally(() => {
                    //     $state.complete();
                    this.isLoading = false;
                });
            },


            getDataSearch(q){



                debugger
                this.data = []
                this.page = 1
                this.nextPage = ''
                this.search = q
                this.auth_user = window.auth_user;
                this.url = window.base_path + '/api/search';

                    axios.post(this.url,
                        {

                        search: this.search,


                        })
                        .then((response) => {
                            this.isLoading = false;
                            debugger
                            if (response.data.event) {


                                if (response.data.event.length > 0) {


                                    this.data = response.data.event;


                                } else {



                                }

                            } else {

                            }


                        })
                        .catch((error) => {

                        })
                        .finally(() => {

                        });

            },



            getData($state){


                //alert(this.eventType)
                if (this.nextPage == null) {
                    return
                }

                debugger
                this.auth_user = window.auth_user;
                const urlParams = new URLSearchParams(window.location.search);
                const myParam = urlParams.get('m');
                if (this.eventJoined == true) {
                    this.url = window.base_path + '/api/eventJoinlist';
                } else if (this.sharedWithMe == true) {
                    this.url = window.base_path + '/frontapi/events/sharedwithme';
                }
                else if (myParam == 'evnts') {
                    this.url = window.base_path + '/api/myEvent';
                } else if (this.groupPost == true) {
                    this.group_id = this.groupId;
                  //  this.url = window.base_path + '/api/groupEvents';
                    this.url = window.base_path + '/api/newGroupEvents';
                    this.is_group_view = true;
                }

                else if (this.eventType == 'popular') {

                    this.url = window.base_path + '/api/getEvent';
                }
                else if (this.eventType == 'nearby') {
                    this.url = window.base_path + '/api/getEvent';
                }
                else if (this.eventType == 'upcomming') {
                    this.url = window.base_path + '/api/getEvent';
                }
                else if (this.eventType == 'createdbyme') {
                    this.url = window.base_path + '/api/getEvent';
                }
                else if (this.eventType == 'joined') {
                    this.url = window.base_path + '/api/getEvent';
                }
                else if (this.eventType == 'sharedwithme') {
                    this.url = window.base_path + '/api/getEvent';
                }


                $('#menuitems li.active').removeClass('active');
                $('#' + this.eventType).addClass('active');



                var lat = -37.819879
                var long = 144.956655


                this.isLoading = true;
                if (this.eventJoined == true) {
                    axios.post(this.url,
                        {
                            params: {
                                type: this.eventType,
                            },

                        })
                        .then((response) => {
                            this.isLoading = false;
                            debugger
                            if (response.data.data) {


                                if (response.data.data.length > 0) {


                                    this.data = this.data.concat(response.data.data);
                                    this.page += 1;
                                    //  this.isLoading = false;
                                    //  $state.loaded();


                                } else {
                                    $state.complete();


                                }

                            } else {
                                //  $state.complete();
                            }


                        })
                        .catch((error) => {
                            debugger
                            // handle error
                            this.isLoading = false;
                            // $state.complete();
                            //this.isLoading = false;
                        })
                        .finally(() => {

                            this.isLoading = false;
                        });
                }



                else if (this.groupPost == true)
                {
                    debugger

                    if (this.nextPage != '') {
                        this.url = this.nextPage
                    }
                    axios.post(this.url,
                        {
                            // params: {
                            group_id: this.groupId
                            //  },

                        })
                        .then((response) => {
                            debugger
                            this.isLoading = false;
                            if (response.data.data) {

                                if (response.data.data.length > 0) {
                                    this.data = this.data.concat(response.data.data);
                                    this.page += 1;
                                    this.nextPage = response.data.links.next
                                    //  this.isLoading = false;
                                    $state.loaded();

                                    //   console.log(this.nextPage)
                                } else {
                                    $state.complete();


                                }

                            } else {
                                //  $state.complete();
                            }


                        })
                        .catch((error) => {
                            // handle error
                            debugger
                            this.isLoading = false;
                            //  $state.complete();

                        })
                        .finally(() => {

                            this.isLoading = false;
                        });
                }


                else {
                    debugger
                    console.log(this.eventType)

                    if (this.nextPage != '') {
                        this.url = this.nextPage
                    }


                    axios.post(this.url,
                        {
                            // params: {
                            type: this.eventType,
                            lat: lat,
                            long: long,
                            //  },

                        })
                        .then((response) => {
                            debugger
                            this.isLoading = false;
                            if (response.data.data) {

                                if (response.data.data.length > 0) {


                                    this.data = this.data.concat(response.data.data);
                                    this.page += 1;
                                    this.nextPage = response.data.links.next
                                    //  this.isLoading = false;
                                    $state.loaded();

                                    //   console.log(this.nextPage)
                                } else {
                                    $state.complete();


                                }

                            } else {
                                //  $state.complete();
                            }


                        })
                        .catch((error) => {
                            // handle error
                            debugger
                            this.isLoading = false;
                            //  $state.complete();

                        })
                        .finally(() => {

                            this.isLoading = false;
                        });
                }
            },

            confirmticket(eventid, json, refky)
            {
                debugger
                window.localStorage.setItem('jeticket', '');
                window.localStorage.setItem('jerticket', '');
                window.localStorage.setItem('jeticket_EventId', '');
                window.localStorage.setItem('jerefkey', '');
                window.localStorage.setItem('jetype', 'joined');

                axios.post(window.base_path + '/api/confirmrevertEventTickets', {
                    data: json,
                    event_id: eventid,
                    confirm: true,
                    event_ticket_ref: refky
                })
                    .then((response) => {
                        debugger
                        this.getDatatab('joined');
                        //this.eventType = 'joined';
                        //this.getDataTab('joined');
                        //this.$parent.$refs.eventtypes.getDatatab('createdbyme');
                    })
                    .catch(function (error) {
                        // handle error
                        debugger
                    });
            },





            qr_code_path(){

                debugger
                window.location.origin
                return this.qr_code.replace(window.base_url, '');
            }

        },

        created(){

            debugger


            var json = window.localStorage.getItem('jeticket');
            var revertjson = window.localStorage.getItem('jerticket');
            var eventid = window.localStorage.getItem('jeticket_EventId');
            var JTEventType = window.localStorage.getItem('jetype');


            window.localStorage.setItem('jeticketNA', '');


            ////////////////////

            if (json != "" && eventid != "")
            {

                var refkey = window.location.search;
                if (refkey != "")
                {
                    //var eventid = window.localStorage.getItem('jeticket_EventId');
                    window.localStorage.setItem('jerefkey', refkey);
                    //this.eventType = 'joined';
                    window.location.search = '';
                }
                else {
                    refkey = window.localStorage.getItem('jerefkey');
                }

                if (refkey != "")
                {
                    this.confirmticket(eventid, json, refkey);
                }
                else {
                    this.Revirtticket(eventid, revertjson);
                }
            }
            if (JTEventType == 'joined')
            {
                window.localStorage.setItem('jetype', '');
                this.eventType = JTEventType;
                this.getDataTab('joined');
            }

            debugger
            this.comments[0] = [];

            debugger

            // this.getData();
        },

        computed: {
            userAvatar: () => {
                return window.user_avatar;
            },
        }
    }
</script>

<style>

    .ui-dialog{
        z-index: 9999 !important;
    }
    .post-content .post-img img {
        max-height: 500px;
        object-fit: cover;
    }

    .posts-inner-wrap {
        margin-bottom: 60px;
    }

    #eway-payment-window > body {
        height: 125%;
    }

    .ui-widget-header {
        border: 1px solid #5a2591;
        background: #5a2591;
        color: #fff;

    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #454545;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #ffffff;
    }

    .resetbtn{
        background: #5a2591;
        border: 1px solid #5a2591;
        color:#fff;
    }


</style>