<template>
<div>




    <ul class="nav nav-tabs"  id="menuitems">
        <li class="active" id="popular">
            <a data-toggle="tab" href="#EventTab" @click="getDatatab('popular')">
                Popular Events
            </a>
        </li>
        <li class="" id="nearby">
            <a data-toggle="tab" href="#EventTab" @click="getDatatab('nearby')">
                Nearby Events
            </a>
        </li>
        <li class="" id="upcomming">
            <a data-toggle="tab" href="#EventTab"  @click="getDatatab('upcomming')">
                Upcoming Events
            </a>
        </li>
        <li class="" id="createdbyme">
            <a data-toggle="tab" href="#EventTab"  @click="getDatatab('createdbyme')">
                My Events
            </a>
        </li>
        <li class="" id="joined">
            <a data-toggle="tab" href="#EventTab" @click="getDatatab('joined')">
                Joined Events
            </a>
        </li>
        <li class="" id="sharedwithme">
            <a data-toggle="tab" href="#EventTab"  @click="getDatatab('sharedwithme')">
                Shared With Me
            </a>
        </li>
    </ul>
    <div :class="'form-group col-xs-12'" class="follow-user sidebar-box" style="height: 50px;margin-top: 5px">
        <div class="row">

            <div class="form-group col-xs-11" style="width: 98%; margin-left: -69px;">
                <input type="text" class="form-control" placeholder="search events by name....." :id="'txtsearchevent'">
            </div>
            <div class="form-group col-xs-1" style="width: 2%; margin-right: 59px; float: right">
                <button type="button" class="resetbtn" @click="ResetSearching()">Cancel</button>
            </div>
        </div>
    </div>
  <!--  <form v-bind:action="geturl()" method="post" id="searcheventform"  enctype='application/json'>
    <div style="width: 100%;margin-top: 20px">
    <span>
        <input id="searchevent" name="searchevent" class="stylesearch" type="text"  placeholder="search events...."
               >
        <input type="button"  style="width:25%" value="cancel" class="btn  btn-primary" @click="getDatatab(null)">
    </span>

    </div>
    </form>  -->


    <div class="tab-content" style="margin-top: 60px">

        <div id="EventTab" class="tab-pane fade in active">
            <events  ref="eventtab" ></events>
        </div>

    </div>
</div>
</template>


<script>
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {


        data(){
          return {
              searchevent : ''
        }
    },
       methods:{

           changetextev(event)
           {
               debugger
              // alert(event.keyCode)
               if (event.keyCode === 13) {

                   debugger
                   this.searchevent = $('#txtsearchevent').val()
                   this.searchevent =  this.searchevent.trim()

                   if (this.searchevent == ''){
                       this.$refs.eventtab.getDataTab(null);
                       return
                   }

                   this.$refs.eventtab.getDataSearch(this.searchevent);
               }
           },
           ResetSearching()
           {
               this.searchevent = '';
               $('#txtsearchevent').val('')
               this.$refs.eventtab.getDataTab(null);
           },

           getDatatab(type){
               debugger
               this.searchevent = '';
               $('#txtsearchevent').val('')
               this.$refs.eventtab.getDataTab(type);
           },

       },

        mounted(){
            $("#txtsearchevent").on("keyup", this.changetextev)
        },

       created(){

             
       },

       computed:{

       }
    }
</script>

<style>
    .stylesearch {
        padding: 2.5px;
        width: 70%;
        border: 1px solid #5c5c5c;
        border-radius: 5px !important;
    }

</style>