<template>

<div class="posts-inner-wrap">
    
    <div class="post-content" v-for="(post,index) in data">
      <div class="codeinfasters-loader-overlay trans" :id="'event-loader-'+index">
        <div class="loading yes m-0 center" ></div>
      </div>
      <div class="user-info evengo-user-info">
        <img v-bind:src="post.created_at ? post.created_by.Avatarurl : ''" alt="user" class="profile-photo-md pull-left" />
        <h5><a href="#" class="profile-link">{{ post.created_by.fname }} {{ post.created_by.lname }}</a>
         <!-- <span v-if="post.group"> > <a :href="'/group/view/'+post.id+'/ '">{{ post.group.name }}</a></span> -->
          <span class="float-right">
          <span class="label label-primary">{{ post.event_date }}</span>
          <span class="label label-primary">{{ post.event_time }}</span>
          <span class="btn  btn-primary label label-success" @click="eventJoin(post.id,index)">{{ eventJoinStatus(post.eventJoin) }}</span>
          <span v-if="post.created_by.id == auth_user.id" class="btn  btn-primary label label-success" @click="Attendance(post.id,index)">Attendance</span>
          <span v-if="post.created_by.id == auth_user.id" class="btn  btn-primary label label-success" @click="Edit(post,index)">Edit</span>
        </span></h5>
        <p class="text-muted">{{ post.created_at }} <span class="float-right"></span></p>
      </div>
      <div class="post-text">
        <h5>{{ post.title }} - {{post.event_type_id}}</h5>
        <h6>{{ post.venue_address }}</h6>
        <p>{{ post.description }}</p>
      </div>
      <div class="post-img">
        <img v-bind:src="post.image" alt="post-image" class="img-responsive post-image" />
        <div class="post-img-detail-overlay">
          <div class="d-content">
            <span>Likes {{  post.totalLike }}</span>
          <!--  <span class="float-right">Comments {{ post.totalComment }}</span>  -->
          </div>
        </div>
      </div>
      <div class="post-footer" >
        <div class="sec"  @click="LikeDislikePost(post.event_id,index)" style="cursor: pointer;">
          <span><i :class="'icon ion-ios-heart '+Liked(post.like)"></i></span>
          <span class="sec-text" style="text-transform: capitalize;">{{ LikedText(post.like) }}</span>
        </div>
       <!-- <div class="sec"  style="cursor: pointer;">
          <span  style="margin-right: 5px;"><i class="icon ion-chatbox-working"></i></span>
          <span class="sec-text" @click="openCommentBox(post.event_id,index)">Comment</span>
        </div>  -->
        <div v-if="auth_user.id == post.created_by.id" class="sec"  style="cursor: pointer;">
          
          <div class="dropdown sec env-opt-dropdown">
            
                <a class="dropdown" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span style="margin-right: 5px;"><i class="icon ion-android-share-alt"></i></span>
                <span class="sec-text">Share</span>
                </a>
            
                <div class="dropdown-menu evn-menu" aria-labelledby="dropdownMenuLink">
                  <span class="dropdown-item" @click="shareEvent(post.id,'user')">Share with User</span>
                  <span class="dropdown-item" @click="shareEvent(post.id,'group')">Share in Group</span>
                  <span v-if="auth_user.id != post.created_by.id" class="dropdown-item" @click="eventJoin(post.id)">Join</span>
                </div>
            
          </div>

         </a>
        </div>

        </div>

        <div class="post-container"  style="display: none;" :id="'comment-box-'+index">
                
                <div class="post-detail">
                 
                 <div class="line-divider"></div>
                  <div class="text-center">
                    <div class="loading" :id="'loader-evnt-'+index"></div>
                  </div>
                  
                  <div :id="'comments-wrapper-'+index">
                    
                  </div>
                  
                  <div class="post-comment">
                    <img v-bind:src="userAvatar" alt="" class="profile-photo-sm">
                    <input v-model="enterComment[post.event_id]" class="form-control" placeholder="Post a comment" @keyup.enter="addComment(post.event_id,index)" >
                  </div>
                </div>
              </div>
      
    </div>

    <!-- <loading :active.sync="isLoading" 
        :is-full-page="false"></loading> -->
    <share-event-modal :event-id="event_id" :share-with="share_with"></share-event-modal>
  
    <attendance-modal v-if="data.length > 0 && data[0].created_by.id == auth_user.id" :event-id="event_id"></attendance-modal>

    <div id="QR-code-modal" class="modal fade" role="dialog">


    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">


        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Attendance QR Code:</h4>
        </div>
        <div class="modal-body text-center">
          <img :src="qr_code" alt="" style="width: 190px">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a class="btn btn-default" :href="qr_code" download>Download</a>
        </div>
      </div>

    </div>
</div>

  
  <editevent-modal :edit-event="data[0]"></editevent-modal>
  
</div>

</template>


<script>
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
       props:{
        groupPost:{
          type:Boolean,
        },

        groupId:{
          type:Number,
        },
       },

        data(){
          return {
              qr_code: '',
              url: window.base_path+'/api/allEvent',
              auth_user:{},
              event_id:0,
              page: 1,
              isLoading: false,
              data:[],
              alldata:[],
              is_group_view:false,
              group_id:'',
              comments:{0:''},
              enterComment:{},
              share_with:'',
        }
    },
       methods:{
        Attendance(event_id){
          this.event_id = event_id;
          if(this.event_id != 0){
             jQuery('#AttendanceModal').modal('show');
          }
         
        },
        eventJoin(event_id,index){
          this.isLoading = true;
          jQuery('#event-loader-'+index).addClass('yes');
            axios.post(window.base_path+'/api/eventJoin',{
              event_id:event_id
            }).then((response) =>{
              this.data[index].eventJoin = 'Yes';
              if(response.data.data){
                this.qr_code = response.data.data.qrcode;
                jQuery('#QR-code-modal').modal('show');
              }
              jQuery('#event-loader-'+index).removeClass('yes');
            }).catch().finally( () => {
              jQuery('#event-loader-'+index).removeClass('yes');
              });
        },

        shareEvent(event_id,shareWith){
          this.event_id = event_id;
          this.share_with = shareWith;
          jQuery('#eventShare').modal('show');
        },
        openCommentBox(event_id,index){
          jQuery('#comment-box-'+index).slideToggle(300);
          jQuery('#loader-evnt-'+index).addClass('yes');
          jQuery('#comments-wrapper-'+index).html('');
          axios.post(window.base_path+'/api/getComment',{
            event_id:event_id
          }).then((response) =>{

            // Comment
            var comment = '';
            if(response.data.data){
              if(response.data.data.length > 0){
                response.data.data.reverse();
                response.data.data.forEach( (comment) => {
                 comment = `<div class="post-comment">
                        <img src="${comment.created_by.Avatarurl}" alt="" class="profile-photo-sm" style="float: left;">
                        <div>
                          <a href="#" class="profile-link" style="line-height: 1;">${comment.created_by.fname}</a> 
                          <p>${comment.comment}</p>
                          <span style="line-height: 1;">${comment.created_at}</span>
                        </div>                   
                      </div>`;
                  jQuery('#comments-wrapper-'+index).append(comment);
              });

              }
            }else{
              jQuery('#comments-wrapper-'+index).append(`<p>Be the First to Comment!</p>`);
            }
            this.comments[index] = response.data.data;
            // jQuery('#comments-wrapper-'+index).append(comments);
            jQuery('#loader-evnt-'+index).removeClass('yes');
          });

        },

        addComment(event_id,index){

          if(this.enterComment[event_id] != ''){
            axios.post(window.base_path+'/api/eventComment',{
              event_id:event_id,
              comment:this.enterComment[event_id],
            }).then((response) =>{
              
              if(response.data.success == 1){
                  var comment = `<div class="post-comment">
                        <img src="${ window.user_avatar }" alt="" class="profile-photo-sm" style="float: left;">
                        <div>
                          <a href="#" class="profile-link" style="line-height: 1;">${window.auth_user.fname}</a> 
                          <p>${this.enterComment[event_id]}</p>
                          <span style="line-height: 1;">Just Now</span>
                        </div>                   
                      </div>`;
                  jQuery('#comments-wrapper-'+index).append(comment);
                  comment = '';
                  this.enterComment[event_id] = '';
              }
            }).catch();
          }

        },

        getData($state){
          this.isLoading = true;
          axios.get(this.url , 
             {
                params: {
                  page: this.page,
                },
               
              })
              .then( (response) => {
                  
                 if(response.data.data){

                  if(response.data.data.length > 0){
                
                   
                   this.data = this.data.concat(response.data.data);
                   this.page += 1;
                   this.isLoading = false;
                  
             
                   
                 }else{
                   
                  
                   
                 }

                 }else{
                 
                 }
                  
                 
              })
              .catch( (error) => {
                // handle error

                this.isLoading = false;
              })
              .finally( () => {
                 
                 this.isLoading = false;
              });
        },
        Edit(event){
          window.edit_event = event;
          jQuery('#EditEventModel').modal('show');
        }

       },

       created(){

              // To Prevent Comments Issue
              // for(var i = 0;i<50;i++){
                  this.comments[0] = [];
                // }
            this.auth_user = window.auth_user;
            const urlParams = new URLSearchParams(window.location.search);
            const Event_ID = urlParams.get('event');

            if(this.$route.params.id){
              this.event_id = parseInt(this.$route.params.id);
              this.url = window.base_path+'/frontapi/event/view?event='+this.$route.params.id;
              this.getData();
            }

            // if(myParam == 'evnts'){
            //   this.url = window.base_path+'/api/myEvent';
            // }else if(this.groupPost == true){
            //   this.group_id = this.groupId;
            //   this.url = window.base_path+'/api/groupEvents';
            //   this.is_group_view = true;
            // }

             
       },

       computed:{
        userAvatar: () => {
          return window.user_avatar;
        }
       }
    }
</script>

<style>
.post-content .post-img img{
  height: 450px;
  object-fit: cover;
}
.posts-inner-wrap{
  margin-bottom: 60px;
}

</style>