<template>

    <div class="posts-inner-wrap">

        <editgroup-modal ref="editmodal" v-if="groupType == 'Mygroups'"></editgroup-modal>

        <div class="post-content" v-for="(post,index) in data">
            <div class="codeinfasters-loader-overlay trans" :id="'event-loader-'+index">
                <div class="loading yes m-0 center"></div>
            </div>
            <div class="user-info evengo-user-info">
                <img v-bind:src="post.created_at ? post.created_by.Avatarurl : ''" alt="user"
                     class="profile-photo-md pull-left"/>
                <h5><a :href="base_url+'/group/'+post.id" class="profile-link">{{ post.created_by.fname
                    }} {{ post.created_by.lname }}</a>
                    <span class="float-right">


                            <a :href="base_url+'/group/view/'+post.id+'/'" class="btn  btn-primary label label-success">View Detail</a>


                        <span v-if="post.created_by.id == auth_user.id" class="btn  btn-primary label label-success"
                              @click="Edit(post,index)">Edit Group</span>
                        <span v-if="groupType == 'discover'" class="btn  btn-primary label label-success"
                              @click="JoinGroup(post.id,index)">Join Group</span>
                        <span v-if="groupType == 'joinedgroups'" class="btn  btn-primary label label-success"
                              @click="LeaveGroup(post.id,index)">Leave Group</span>

        </span></h5>
                <p class="text-muted">{{ post.created_at }} <span class="float-right"></span></p>
            </div>
            <div class="post-text">
                <h5>{{ post.name }}</h5>
                <h6>{{ post.description }}</h6>
            </div>



            <div class="post-img">
                <img v-bind:src="post.image" alt="post-image" class="img-responsive post-image"/>
                <div class="post-img-detail-overlay">
                    <!--<div class="d-content">
                        <span>Likes {{ post.totalLike }}</span>
                        <span class="float-right">Comments {{ post.totalComment }}</span>
                    </div>-->
                </div>
            </div>

            <div class="post-footer">

            </div>


        </div>

        <!-- <loading :active.sync="isLoading"
            :is-full-page="false"></loading> -->



        <infinite-loading @infinite="getData"></infinite-loading>

    </div>

</template>


<script>
    import Vue from 'vue/dist/vue.esm.js';
    import Loading from 'vue-loading-overlay';

    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    import VueGeolocation from 'vue-browser-geolocation';
    //   Vue.use(VueGeolocation);
    export default {

        props: {


            groupPost: {
                type: Boolean,
            },

            eventJoined: {
                type: Boolean,
            },

            groupId: {
                type: Number,
            },

            sharedWithMe: {
                type: Boolean,
            },
        },


        ready() {



    },

        data(){
            return {
                groupType: 'discover',
                base_url: window.base_url,
                url: window.base_path + '/api/allEvent',
                auth_user: {},
                page: 1,
                isLoading: false,
                data: [],
                alldata: [],
                nextPage: '',
                search: '',
            }
        },

        mounted() {


        },


        methods: {



            getDataTab(groupType)
            {
                if (groupType != null) {
                    this.groupType = groupType
                }

                debugger
                this.data = []
                this.page = 1
                this.nextPage = ''
                this.getData()
                debugger
                /*
                var res = Vue.compile('<points></points>')
                new Vue({
                    render: res.render,
                    staticRenderFns: res.staticRenderFns
                }).$mount('#pointvalue')
                */

            },

            getDataSearch(q){



                debugger
                this.data = []
                this.page = 1
                this.nextPage = ''
                this.search = q
                this.auth_user = window.auth_user;
                this.url = window.base_path + '/api/search';

                axios.post(this.url,
                    {

                        search: this.search,


                    })
                    .then((response) => {
                        this.isLoading = false;
                        debugger
                        if (response.data.event) {


                            if (response.data.event.length > 0) {


                                this.data = response.data.group;


                            } else {



                            }

                        } else {

                        }


                    })
                    .catch((error) => {

                    })
                    .finally(() => {

                    });

            },


            getData($state){


                //alert(this.eventType)
                if (this.nextPage == null) {
                    return
                }

                debugger
                this.auth_user = window.auth_user;
                //const urlParams = new URLSearchParams(window.location.search);
                //const myParam = urlParams.get('m');
                if (this.groupType == 'discover') {

                    this.url = window.base_path + '/api/newAllGroups';
                }
                else if (this.groupType == 'Mygroups') {
                    this.url = window.base_path + '/api/newMyGroups';
                }
                else if (this.groupType == 'joinedgroups') {
                    this.url = window.base_path + '/api/newMyJoinGroups';
                }


                $('#menuitems li.active').removeClass('active');
                $('#' + this.groupType).addClass('active');



                this.isLoading = true;

                    debugger
                    console.log(this.groupType)

                    if (this.nextPage != '') {
                        this.url = this.nextPage
                    }


                    axios.get(this.url,
                        {})
                        .then((response) => {
                            debugger
                            this.isLoading = false;
                            if (response.data.data) {

                                if (response.data.data.length > 0) {
                                    this.data = this.data.concat(response.data.data);
                                    this.page += 1;
                                    this.nextPage = response.data.links.next
                                    $state.loaded();
                                } else {
                                    $state.complete();
                                }
                            } else {
                            }
                        })
                        .catch((error) => {
                            debugger
                            this.isLoading = false;
                        })
                        .finally(() => {
                            this.isLoading = false;
                        });
            },


            JoinGroup(group_id, index){
                debugger
                var compound_ = this;
                this.isLoading = true;
                jQuery('#event-loader-' + index).addClass('yes');
                axios.post(window.base_path + '/api/userSendGroupRequest', {
                    group_id: group_id
                }).then((response) => {
                    debugger
                    //this.data[index].eventJoin = 'Yes';
                    if(response.data.success == 1)
                    {
                        if (response.data.data) {
                            debugger
                            //this.qr_code = response.data.data.qrcode;
                            new Snackbar(response.data.message,{timeout: 3000});
                            //this.$parent.$refs.grouptypes.getDatatab('Mygroups');
                            compound_.getDataTab('joinedgroups');
                            $("#menuitems").find('li').removeClass("active");
                            $("#joinedgroups").addClass("active");
                        }
                    }
                    else
                    {
                        new Snackbar(response.data.message,{timeout: 3000});
                        compound_.getDataTab(null);
                    }

                    //jQuery('#event-loader-' + index).removeClass('yes');
                }).catch().finally(() => {
                    jQuery('#event-loader-' + index).removeClass('yes');
                });
            },

            LeaveGroup(group_id, index){
                debugger
                var compound_ = this;
                this.isLoading = true;
                jQuery('#event-loader-' + index).addClass('yes');
                axios.post(window.base_path + '/api/groupLeave', {
                    group_id: group_id
                }).then((response) => {
                    debugger
                    //this.data[index].eventJoin = 'Yes';
                    if(response.data.success == 1)                   {
                            debugger

                            new Snackbar(response.data.message,{timeout: 3000});
                            compound_.getDataTab('discover');
                            $("#menuitems").find('li').removeClass("active");
                            $("#discover").addClass("active");
                    }
                    else
                    {
                        new Snackbar(response.data.message,{timeout: 3000});
                        compound_.getDataTab(null);
                    }

                    //jQuery('#event-loader-' + index).removeClass('yes');
                }).catch().finally(() => {
                    jQuery('#event-loader-' + index).removeClass('yes');
                });
            },

            Edit(group, index){
                debugger
                window.edit_group = group;
                //console.log(window.edit_event)
                var groupid = '#EditGroupModal'// + group.id
                //console.log(eventid)
                this.$refs.editmodal.getgroup(window.edit_group);
                //jQuery(eventid).modal('show');
                jQuery(groupid).modal({
                    backdrop: 'static',
                    keyboard: false
                })
            },


        },

        created(){
        },

        computed: {
            userAvatar: () => {
                return window.user_avatar;
            },
        }
    }
</script>

<style>

    .ui-dialog{
        z-index: 9999 !important;
    }
    .post-content .post-img img {
        max-height: 500px;
        object-fit: cover;
    }

    .posts-inner-wrap {
        margin-bottom: 60px;
    }

    #eway-payment-window > body {
        height: 125%;
    }

    .ui-widget-header {
        border: 1px solid #5a2591;
        background: #5a2591;
        color: #fff;

    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #454545;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #ffffff;
    }
    .resetbtn{
        background: #5a2591;
        border: 1px solid #5a2591;
        color:#fff;
    }
</style>