<template>
<div>
    <ul class="nav nav-tabs"  id="menuitems">
        <li class="active" id="discover">
            <a data-toggle="tab" href="#GroupTab" @click="getDatatab('discover')">
                Discover
            </a>
        </li>
        <li class="" id="Mygroups">
            <a data-toggle="tab" href="#GroupTab" @click="getDatatab('Mygroups')">
                My Groups
            </a>
        </li>
        <li class="" id="joinedgroups">
            <a data-toggle="tab" href="#GroupTab"  @click="getDatatab('joinedgroups')">
                Joined Groups
            </a>
        </li>
    </ul>

    <div :class="'form-group col-xs-12'" class="follow-user sidebar-box" style="height: 50px;margin-top: 5px">
        <div class="row">

            <div class="form-group col-xs-11" style="width: 98%; margin-left: -69px;">
                <input type="text" class="form-control" placeholder="search groups by name....." :id="'txtsearchgroup'">
            </div>
            <div class="form-group col-xs-1" style="width: 2%; margin-right: 59px; float: right">
                <button type="button" class="resetbtn" @click="ResetSearching()">Cancel</button>
            </div>
        </div>
    </div>

    <div class="tab-content" style="margin-top: 60px;">

        <div id="GroupTab" class="tab-pane fade in active">
            <groups  ref="grouptab" ></groups>
        </div>


    </div>
</div>
</template>


<script>
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {


        data(){
          return {
              searchgroup : ''

        }
    },
       methods:{

           changetextev(event)
           {
               debugger
               // alert(event.keyCode)
               if (event.keyCode === 13) {

                   debugger
                   this.searchgroup = $('#txtsearchgroup').val()
                   this.searchgroup =  this.searchgroup.trim()

                   if (this.searchgroup == ''){
                       this.$refs.grouptab.getDataTab(null);
                       return
                   }

                   this.$refs.grouptab.getDataSearch(this.searchgroup);
               }
           },
           ResetSearching()
           {
               this.searchgroup = '';
               $('#txtsearchgroup').val('')
               this.$refs.grouptab.getDataTab(null);
           },

           getDatatab(type){
               debugger
               this.searchgroup = '';
               $('#txtsearchgroup').val('')
               this.$refs.grouptab.getDataTab(type);
           }
        
       },
        mounted(){
            $("#txtsearchgroup").on("keyup", this.changetextev)
        },
       created(){
debugger
             
       },

       computed:{

       }
    }
</script>

<style>
    .stylesearch {
        padding: 2.5px;
        width: 70%;
        border: 1px solid #5c5c5c;
        border-radius: 5px !important;
    }
    .resetbtn{
        background: #5a2591;
        border: 1px solid #5a2591;
        color:#fff;
    }

</style>