<template>

  <!-- Modal -->

  <div id="InviteMemberModel" class="modal fade" role="dialog">


    <div class="modal-dialog" style="width: 600px; height: 300px">
      <loading :active.sync="isLoading"
               :is-full-page="false" class="center loader-xs"></loading>

      <!-- Modal content-->
      <div class="modal-content">


        <div class="modal-header">


          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <input type="hidden" id="txtinvitememberid" @click="initialize()" value="test"/>
          <input type="hidden" id="txtdispose" @click="Dispose()" value="testtk"/>
          <h4 class="modal-title" style="text-align: center">Invite Members</h4>

          <div :class="'form-group col-xs-12'" class="follow-user sidebar-box" style="height: 50px;">
            <div class="row">

              <div class="form-group col-xs-11" style="width: 98%; margin-left: -69px;">
                <input type="text" class="form-control" placeholder="search purchaser name....." :id="'txtinvitemembersearch'">
              </div>
              <div class="form-group col-xs-1" style="width: 2%; margin-right: 59px; float: right">
                <button type="button" @click="InviteResetSearching()" class="resetbtn">Cancel</button>
              </div>
            </div>
          </div>

        </div>

        <div class="modal-body" style="height: 500px; overflow-y: scroll;">





          <div class="organization" v-for="(member, index) in userdata">
            <div style="margin-top: 10px; margin-bottom: 0px;">
            <img :src="member.Avatarurl" alt="" class="pull-left img-org" style="height: 60px; width: 65px">
            <div class="work-info" style="margin-left: 0px">


              <div class="row">
                <div class="form-group col-xs-8">
                  <h5 style="text-transform: capitalize; margin-left: 5px;">{{ member.fname }} {{ member.lname }}</h5>
                  <p class="text-green" style="height: 24px; margin-top: -5px; margin-left: 5px; margin-bottom: 0px;">{{ member.country }}</p>
                </div>
                <div class="form-group col-xs-2">
                  <button class="btn btn-default" style="float: right; margin-top: 15px; background: #5a2591; color: white; width: 100px" @click="AddMembers(member.id, index)">Invite</button>
                </div>
              </div>





            </div>
          </div>
            <hr style="margin-top: 1px; margin-bottom: 1px;">
          </div>



          <infinite-loading ref="InfiniteLoading" @infinite="getMembersInfinite"></infinite-loading>

        </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</template>


<script>
    import Vue from 'vue/dist/vue.esm.js';
    import Loading from 'vue-loading-overlay';

    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';



    export default {

        props:{
            groupId:{
                type:Number,
            },
        },

        data(){
            return {
              userdata: [],
              url: window.base_path+'/api/allUsers',
              page: 1,
              nextPage: '',
              isLoading : false,
              issearching: false,
              searchuser : '',
              state: null,
            }
        },

        mounted(){
            $("#txtinvitemembersearch").on("keyup", this.Invitechangetextev)
        },

        methods: {

            Invitechangetextev(event)
            {
                if (event.keyCode === 13) {
                    debugger

                    this.searchuser = $('#txtinvitemembersearch').val()
                    this.userdata = [];
                    this.issearching = true;
                    this.page = 1;
                    this.nextPage = '';
                    this.url = window.base_path+'/api/allUsers';
                    this.getMembers();

                    try {
                        this.state.reset();

                    } catch (Exception) {}

                }
            },

            InviteResetSearching()
            {
                this.searchuser = '';
                jQuery('#txtinvitemembersearch').val('')
                this.issearching = true;
                this.url = window.base_path+'/api/allUsers';
                this.getMembers();

                try {
                    this.state.reset();

                } catch (Exception) {}
            },

            initialize(){
                debugger
                this.userdata = [];
                this.page = 1;
                this.nextPage = '';
                this.IsReset = false;
                this.searchuser = '';
                this.issearching = false;
                jQuery('#txtinvitemembersearch').val('')
                this.getMembers();
            },

            Dispose(){
                debugger
                  try {
                        this.userdata = [];
                      jQuery('#txtinvitemembersearch').val('')
                        this.state.reset();
                  } catch (Exception) {
                  }
                },

            SuccessMessage(message, title)
            {

                $('<div></div>')
                    .html('<div><h6>' + message + '</h6></div>')
                    .dialog({
                        modal:true,
                        title:title,
                        width:400,
                        buttons: {
                            Ok: function() {
                                $( this ).dialog( "close" );
                            }
                        }
                    });
            },

            Remove(userid, index)
            {
                debugger
                this.userdata.splice(index, 1);
            },


            AddMembers(userid, index){

                debugger
                this.isLoading = true;
                axios.post(window.base_path + '/api/memberAddInGroup', {
                    group_id: this.groupId,
                    user_id: userid,
                    role_in_group: 'Member'

                })
                    .then((response) => {
                        debugger
                        //
                        if(response.data.success == 1)
                        {

                            //this.SuccessMessage(response.data.message, 'Invite Members')
                            debugger
                            this.userdata.splice(index, 1);
                            this.isLoading = false;
                            /*
                            this.userdata = response.data.data;
                              */
                        }
                        else
                        {
                            //this.SuccessMessage(response.data.message, 'Invite Members')
                        }
                    })
                    .catch(function (error) {
                        //debugger
                    });
            },

            getMembers(){

                debugger

                this.nextPage = ''
                this.page = 1
                this.userdata = [];
                this.url = window.base_path+'/api/allUsers';

                this.isLoading = true;
                axios.post(this.url, {
                    group_id: this.groupId,
                    searchuser: this.searchuser

                })
                    .then((response) => {
                        debugger
                        this.isLoading = false;
                        if(response.data.data)
                        {
                            if (response.data.data.length > 0) {
                                this.userdata = response.data.data;
                                this.page += 1;
                                this.issearching = false;
                                this.nextPage = response.data.links.next
                                //this.searchuser = '';
                            }
                            else {
                            }
                        }
                        else
                        {}
                    })
                    .catch(function (error) {
                        //debugger
                    });
            },

            getMembersInfinite($state){

                debugger

                if (this.nextPage == null) {
                    this.state = $state;
                    return
                }

                if (this.nextPage != '' && this.nextPage != null) {
                    this.url = this.nextPage
                }
                else
                {
                    this.page = 1;
                    this.userdata = [];
                    this.url = window.base_path + '/api/allUsers';
                }

                this.isLoading = true;
                axios.post(this.url, {
                    group_id: this.groupId,
                    searchuser: this.searchuser
                })
                    .then((response) => {
                        debugger
                        this.isLoading = false;
                        if(response.data.data)
                        {
                            if (response.data.data.length > 0) {

                                if (this.nextPage != response.data.links.next)
                                {
                                    this.userdata = this.userdata.concat(response.data.data);
                                    this.page += 1;
                                    this.issearching = false;
                                    this.nextPage = response.data.links.next

                                }
                                //else
                                //{
                                //    this.searchuser = '';
                                //}
                                $state.loaded();
                            }
                            else {
                                $state.complete();
                            }
                        }
                        else
                        {}
                    })
                    .catch(function (error) {
                    });

            },
        },


        created(){
        }

    }

</script>


<style>
  .ui-widget-header {
    border: 1px solid #5a2591;
    background: #5a2591;
    color: #fff;

  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #5a2591;
    background: #5a2591;
    font-weight: normal;
    color: #454545;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #5a2591;
    background: #5a2591;
    font-weight: normal;
    color: #ffffff;
  }
  .resetbtn{
    background: #5a2591;
    border: 1px solid #5a2591;
    color:#fff;
  }
</style>