<template>

          <div class="ev-card" v-if="data.length > 0">
            <h4 class="grey">Invite Members</h4>
              <div class="data-circle" style="display: none;">
                <img src="http://placehold.it/300x300" alt="" class="img-org">
                <img src="http://placehold.it/300x300" alt="" class="img-org">
                <img src="http://placehold.it/300x300" alt="" class="img-org">
              </div>

              <div class="about-profile">
                <!-- v-if="shareWith == 'user'" -->
                <div class="form-group" >
                  <label for="title">User</label>
                  <v-select :closeOnSelect="false" v-model="user"  label="fname" @search="fetchUser" :options="usersOptions">

                    <template slot="no-options">
                      type to search for user..
                    </template>
                    <template slot="option" slot-scope="option">
                      <div class="d-center">
                        <!-- <img :src='option.owner.avatar_url'/>  -->
                        {{ option.fname }} {{ option.lname }}
                        </div>
                    </template>
                   <!--  <template slot="selected-option" slot-scope="option">
                      <div class="selected d-center">
                        <img :src='option.owner.avatar_url'/> 
                        {{ option.full_name }}
                      </div>
                    </template> -->
                    
                  </v-select>

                  <div class="text-right" style="margin-top: 5px;">
                    <span class="btn btn-primary btn-xs" @click="inviteUser()">Invite</span>
                  </div>
                  <div class="codeinfasters-loader-overlay trans" :id="'loader-invite'">
                        <div class="loading yes m-0 center" ></div>
                    </div>
                </div>

                
               <!--  <div class="about-content-block">
                  <div class="organization"  v-for="(member,index) in data" :id="'member-'+member.id">
                    <span class="float-right" style="margin-top: 8px;">
                        <span class="btn btn-primary btn-xs" @click="inviteUser(member.id,member.id)">Invite</span>
                    </span>
                    <img :src="member.Avatarurl" alt="" class="pull-left img-org">
                    <div class="work-info">
                      <h5 style="text-transform: capitalize;">{{ member.fname }} {{ member.lname }}</h5>
                      <p class="text-green" style="height: 24px;">{{ member.country }}</p>
                    </div>
                    <div class="codeinfasters-loader-overlay trans" :id="'loader-'+member.id">
                        <div class="loading yes m-0 center" ></div>
                    </div>
                  </div>
                </div> -->

               

              </div>
              
            <!-- <infinite-loading @infinite="getData"></infinite-loading> -->

          </div>

</template>


<script>
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
       props:{
      
        groupId:{
          type:Number,
        },
       },

        data(){
          return {
              url: window.base_path+'/api/selectUser',
              page: 1,
              isLoading: false,
              data:[],
              alldata:[],
              usersOptions:[],
              users:[],
              user:{},
              is_group_view:false,
              group_id:'',
              comments:{0:''},
              enterComment:{},
        }
    },
       methods:{
          // Share With User
          fetchUser(search,loading){
            if(search.length > 0){
              loading(true);
              this.searchUser(loading, search, this);
            }         
          },
          searchUser: _.debounce((loading, search, vm) => {
            axios.post(
            window.base_path+'/api/selectUser',{
              search:search
            }).
            then((res) => {
              console.log(res.data.data);
              vm.usersOptions = res.data.data;
              // res.json().then(json => vm.options = json.items);
              loading(false);
            });
          }, 350),
          // Share With User
        inviteUser(){

            // if(this.user){
            //   jQuery('#loader-'+index).addClass('yes');
            //     axios.post(window.base_path+'/api/memberAddInGroup' , 
            //        {
            //          group_id:this.group_id,
            //          user_id:this.user.id,
            //          role_in_group:'Member',

            //         })
            //         .then( (response) => {
                        
            //            if(response.data.success == 1){
                        
            //             jQuery('#loader-'+index).removeClass('yes');
            //             jQuery('#member-'+index).remove();
            //             console.log(jQuery('#member-'+index));

            //             }else{
            //             jQuery('#loader-'+index).removeClass('yes');
                        
            //            }
                        
                       
            //         })
            //         .catch( (error) => {
            //           // handle error

                     
            //           this.isLoading = false;
            //         })
            //         .finally( () => {
                       
            //            this.isLoading = false;
            //         });
            // }

            if(this.user){
              jQuery('#loader-invite').addClass('yes');
                axios.post(window.base_path+'/api/memberAddInGroup' , 
                   {
                     group_id:this.group_id,
                     user_id:this.user.id,
                     role_in_group:'Member',

                    })
                    .then( (response) => {
                        
                       if(response.data.success == 1){
                        
                        jQuery('#loader-invite').removeClass('yes');
                        new Snackbar(response.data.message,{timeout: 3000});
                        }else{
                        jQuery('#loader-invite').removeClass('yes');
                        new Snackbar(response.data.message,{timeout: 3000});  
                       }

                       this.user = {};
                        
                       
                    })
                    .catch( (error) => {
                      // handle error

                     
                      this.isLoading = false;
                    })
                    .finally( () => {
                       
                       this.isLoading = false;
                    });
            }
            
          },
        getData($state){
          this.isLoading = true;
          axios.post(this.url , 
             {
               page: this.page,
               group_id:this.group_id
              })
              .then( (response) => {
                  
                 if(response.data.data){

                  if(response.data.data.length > 0){
            
                   this.data = this.data.concat(response.data.data);
                   this.page += 1;
                   this.isLoading = false;
               
                             
                 }else{
                  
                      
                 }

                 }else{
                 
                 }
                  
                 
              })
              .catch( (error) => {
                // handle error

            
                this.isLoading = false;
              })
              .finally( () => {
                 
                 this.isLoading = false;
              });
        },

        
       },

       created(){
        if(this.groupId){
          this.group_id = this.groupId;
        }
        
        this.getData();
       },

       computed:{
        userAvatar: () => {
          return window.user_avatar;
        }
       }
    }
</script>

<style>


</style>