<template>

              <div class="about-profile">
                
                <div class="about-content-block">
                  <h4 class="grey"><i class="ion-ios-people-outline icon-in-title"></i>Members</h4>

                  <div class="organization" v-for="member in data">
                    <img :src="member.Avatarurl" alt="" class="pull-left img-org">
                    <div class="work-info">
                      <h5 style="text-transform: capitalize;">{{ member.fname }} {{ member.lname }}</h5>
                      <p class="text-green">{{ member.country }}</p>
                    </div>
                  </div>
                  
                  
                </div>

                <infinite-loading @infinite="getData"></infinite-loading>

              </div>

</template>


<script>
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
       props:{
      

        groupId:{
          type:Number,
        },
       },

        data(){
          return {
              url: window.base_path+'/api/groupMembers',
              page: 1,
              isLoading: false,
              data:[],
              alldata:[],
              is_group_view:false,
              group_id:'',
              comments:{0:''},
              enterComment:{},
        }
    },
       methods:{

        getData($state){
          this.isLoading = true;
          axios.post(this.url , 
             {
               page: this.page,
               group_id:this.groupId
              })
              .then( (response) => {
                  
                 if(response.data.data){

                  if(response.data.data.length > 0){
                
                   
                   this.data = this.data.concat(response.data.data);
                   this.page += 1;
                   this.isLoading = false;
                   $state.loaded();
             
                   
                 }else{
                   $state.complete();
                  
                   
                 }

                 }else{
                  $state.complete();
                 }
                  
                 
              })
              .catch( (error) => {
                // handle error

                $state.complete();
                this.isLoading = false;
              })
              .finally( () => {
                 
                 this.isLoading = false;
              });
        },

        
       },

       created(){
            //   // To Prevent Comments Issue
            //   // for(var i = 0;i<50;i++){
            //       this.comments[0] = [];
            //     // }
            // console.log(this.groupPost);
            // const urlParams = new URLSearchParams(window.location.search);
            // const myParam = urlParams.get('m');
            
            // if(myParam == 'evnts'){
            //   this.url = window.base_path+'/api/myEvent';
            // }else if(this.groupPost == true){
            //   this.group_id = this.groupId;
            //   this.url = window.base_path+'/api/groupEvents';
            //   this.is_group_view = true;
            // }

             
       },

       computed:{
        userAvatar: () => {
          return window.user_avatar;
        }
       }
    }
</script>

<style>


</style>