<template>

<span  id="pointslabel">

{{totalpoints}}
</span>
</template>

<script>
    export default {

        data(){
          return {
              totalpoints : 0
        }
    },
      methods: {
          getPoints(){

              axios.post(window.base_path + '/api/eventTicketsPoints')
                  .then((response) => {

                 // alert(response.data.points)
                  $('#pointslabel').html(response.data.points)

                  })
                  .catch(function (error) {
                      // handle error
                      console.log(error);
                      // this.isLoading = false;
                  });

          }
      },

       created(){
         this.getPoints()
       }
       
    }
</script>
