<template>
<div>
    <ul class="nav nav-tabs"  id="menuitems">
        <li class="active" id="event">
            <a data-toggle="tab" href="#RequestTab" @click="getDatatab('event')">
                Event Notifications
            </a>
        </li>
        <li class="" id="group">
            <a data-toggle="tab" href="#RequestTab" @click="getDatatab('group')">
                Group Notifications
            </a>
        </li>
    </ul>

    <div class="tab-content">

        <div id="RequestTab" class="tab-pane fade in active">
            <user-requests  ref="requesttab" ></user-requests>
        </div>


    </div>
</div>
</template>


<script>
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {


        data(){
          return {

        }
    },
       methods:{

           getDatatab(type){
               debugger
               this.$refs.requesttab.getDataTab(type);
           }
        
       },

       created(){
debugger
             
       },

       computed:{

       }
    }
</script>

<style>


</style>