<template>

    <div class="posts-inner-wrap">



        <div class="organization" style="margin-bottom: -45px; margin-top: 15px" v-for="(post,index) in data">

            <span class="float-right" style="margin-top: 8px;">

                        <span class="btn btn-primary btn-xs" v-if="IsGroupType(groupType)" @click="acceptRejectRequest(post,index,'Approved')">Accept</span>
                        <span class="btn btn-danger btn-xs" v-if="groupType=='group'" @click="acceptRejectRequest(post,index,'Rejected')">Reject</span>


                    </span>
            <img :src="getAvatarUrl(post)" alt="" style="height: 45px; width: 45px" class="pull-left img-org">
            <div class="work-info" style="margin-left: 55px">
                <h5 style="text-transform: capitalize;">{{ getFirstName(post) }} {{ getLastName(post) }}</h5>
                <p class="text-green">{{ getMessage(post) }}</p>

            </div>
            <div class="codeinfasters-loader-overlay trans" :id="'loader-'+index">
                <div class="loading yes m-0 center" ></div>
            </div>




            <div class="post-footer">

            </div>


        </div>

        <!-- <loading :active.sync="isLoading"
            :is-full-page="false"></loading> -->



        <infinite-loading @infinite="getData"></infinite-loading>

    </div>

</template>


<script>
    import Vue from 'vue/dist/vue.esm.js';
    import Loading from 'vue-loading-overlay';

    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    import VueGeolocation from 'vue-browser-geolocation';
    //   Vue.use(VueGeolocation);
    export default {

        props:{
            groupId:{
                type:Number,
            },
        },


        data(){
            return {
                groupType: 'event',
                base_url: window.base_url,
                url: window.base_path + '/api/eventJoinReceviedRequest',
                auth_user: {},
                page: 1,
                isLoading: false,
                data: [],
                alldata: [],
                nextPage: ''
            }
        },

        mounted() {


        },


        methods: {



            getDataTab(groupType)
            {
                if (groupType != null) {
                    this.groupType = groupType
                }

                debugger
                this.data = []
                this.page = 1
                this.nextPage = ''
                this.getData()
                debugger
            },

            getAvatarUrl(data)
            {
                debugger
                var returnval = '';


                    if (this.groupType == 'event') {
                        returnval = data.user.Avatarurl;
                    }
                    else {
                        returnval = data.Userdetail.Avatarurl;
                    }

                return returnval
            },

            getFirstName(data)
            {
                var returnval = '';

                    if (this.groupType == 'event') {
                        returnval = data.user.fname;
                    }
                    else {
                        returnval = data.Userdetail.fname;
                    }

                return returnval
            },

            getLastName(data)
            {
                var returnval = '';

                    if (this.groupType == 'event') {
                        returnval = data.user.lname;
                    }
                    else
                    {
                        returnval = data.Userdetail.lname;
                    }

                return returnval
            },

            getMessage(data)
            {
                var returnval = '';

                    if (this.groupType == 'event') {
                        returnval = data.description;
                    }
                    else {
                        returnval = data.message;
                    }

                return returnval
            },

            IsGroupType(grouptype)
            {
                debugger
                var returnval = false;


                    if (grouptype != 'event')
                    {
                        returnval = true;
                    }

                return returnval
            },

            acceptRejectRequest(postdata,index,status){
debugger
                var _groupid = postdata.Group.id;
                var _memberid = postdata.member_id;

                jQuery('#loader-'+index).addClass('yes');
                axios.post(window.base_path+'/api/acceptRejectRequest' ,
                    {
                        group_id:_groupid,
                        member_id:_memberid,
                        status:status,
                    })
                    .then( (response) => {
                        debugger
                        if(response.data.success == 1){

                            var count = Number(jQuery('#lblgroupcount').text());
                            jQuery('#lblgroupcount').text(count-1)

                            jQuery('#loader-'+index).removeClass('yes');
                            this.data.splice(index, 1);
                            //jQuery('#requests-'+index).slideUp().remove();
                            //this.getDataTab(null)

                        }else{
                            jQuery('#loader-'+index).removeClass('yes');
                        }
                    })
                    .catch( (error) => {
                        // handle error

                        $state.complete();
                        this.isLoading = false;
                    })
                    .finally( () => {

                        this.isLoading = false;
                    });
            },

            getData($state){


                //alert(this.eventType)
                if (this.nextPage == null) {
                    return
                }

                debugger
                this.auth_user = window.auth_user;
                //const urlParams = new URLSearchParams(window.location.search);
                //const myParam = urlParams.get('m');
                if (this.groupType == 'event') {

                    this.url = window.base_path + '/api/eventJoinReceviedRequest';

                }
                else if (this.groupType == 'group') {
                    this.url = window.base_path + '/api/receviedRequest';
                }

                $('#menuitems li.active').removeClass('active');
                $('#' + this.groupType).addClass('active');



                this.isLoading = true;

                debugger
                //console.log(this.groupType)

                if (this.nextPage != '') {
                    this.url = this.nextPage
                }


                axios.get(this.url,
                    {})
                    .then((response) => {
                        debugger
                        this.isLoading = false;
                        if (response.data.data) {

                            if (response.data.data.length > 0) {



                                    this.data = this.data.concat(response.data.data);



                                this.page += 1;
                                this.nextPage = response.data.links.next
                                $state.loaded();
                            } else {
                                $state.complete();
                            }
                        } else {
                        }
                    })
                    .catch((error) => {
                        debugger
                        this.isLoading = false;
                    })
                    .finally(() => {
                        this.isLoading = false;
                    });
            },
        },

        created(){
        },

        computed: {
            userAvatar: () => {
                return window.user_avatar;
            },
        }
    }
</script>

<style>

    .ui-dialog{
        z-index: 9999 !important;
    }
    .post-content .post-img img {
        max-height: 500px;
        object-fit: cover;
    }

    .posts-inner-wrap {
        margin-bottom: 60px;
    }

    #eway-payment-window > body {
        height: 125%;
    }

    .ui-widget-header {
        border: 1px solid #5a2591;
        background: #5a2591;
        color: #fff;

    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #454545;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #ffffff;
    }
</style>