<template>

    <!-- Modal -->
    <div id="RevenueTicketDetail" class="modal fade" role="dialog">

        <div class="modal-dialog" style="width: 600px; height: 300px">
            <loading :active.sync="isLoading"
                     :is-full-page="false" class="center loader-xs"></loading>

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Revenue Ticket Detail</h4>

                    <div :class="'form-group col-xs-12'" class="follow-user sidebar-box" style="height: 50px;">
                        <div class="row">

                            <div class="form-group col-xs-11" style="width: 98%; margin-left: -69px;">
                                <input type="text" class="form-control" placeholder="search Ticket ID....." required :id="'txtdetailsearch'">
                            </div>
                            <div class="form-group col-xs-1" style="width: 2%; margin-right: 59px; float: right">
                                <button type="button" class="resetbtn" @click="DetailResetSearching()">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-body" style="height: 300px; overflow-y: scroll;">



                    <form role="form">

                        <a v-for="(post,index) in revenue_ticket_detail" @click="showqrcode(post.qrcode)">
                            <div  style="margin-left: 0px; margin-top: 10px" role="button">

                                <img :src="post.qrcode" alt="" class="pull-left img-org" style="width: 60px; height: 60px">
                                <div class="row"><label  for="title" style="text-transform: capitalize; margin-left: 10px; color: lightslategray">Ticket ID:  {{ post.TicketID }}</label></div>
                                <div class="row"><label for="title" class="textMaxLine" style="text-transform: capitalize; margin-left: 80px; margin-top: -40px; word-break: break-all; margin-right: 20px; color: lightslategray ">Ticket Reference No:  {{ post.event_ticket_ref }}</label></div>

                                <!--<div class="work-info">
                                    <h5 style="text-transform: capitalize;">{{ post.created_by.fname }} {{ post.created_by.lname }}</h5>
                                </div>-->
                                <hr style="margin-top: 1px; margin-bottom: 1px;">
                            </div>


                        </a>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="closeself('#RevenueTicketDetail')">Close</button>
                </div>
            </div>

        </div>


        <div id="qrcodemodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Attendance QR Code:</h4>
                    </div>
                    <div class="modal-body text-center">
                        <img :src="qr_code_path()" alt="" style="width: 190px">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click="closeself('#qrcodemodal')">Close</button>
                        <a :href="qr_code_path()" class="btn btn-default" :download="qr_code_path()">Download</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>


<script>




    export default {

        props:{

        },

        data(){
            return {
                revenue_ticket_detail: [],
                revenue_ticket_detailR: [],
                qrcode: '',
                detailsearchuser : '',
                isLoading : false
            }
        },

        methods: {

            closeself(modalname)
            {

                $(modalname).modal('hide');

            },


            showqrcode(qrcode)
            {
                this.qrcode = qrcode;
                if (this.qrcode.includes("localhost") == true) {
                    this.qrcode = this.qrcode.replace("localhost", "localhost/evngo");
                }

                //jQuery('#qrcodemodal').modal('show');

                jQuery('#qrcodemodal').modal({
                    backdrop: 'static',
                    keyboard: false
                })


                $('#qrcodemodal').on('hidden.bs.modal', function () {

                  //  alert('qr closed')


                })
            },

            DetailSearch()
            {
                var compound_ = this;

                $("#txtdetailsearch").keyup(function(event) {
                    if (event.keyCode === 13) {

                        debugger
                        //$("#id_of_button").click();
                        compound_.detailsearchuser = $('#txtdetailsearch').val()
                        compound_.searchuser();
                    }
                });

            },

            searchuser()
            {
                debugger
                this.revenue_ticket_detail = this.revenue_ticket_detailR.filter(it => new RegExp(this.detailsearchuser, "i").test(it.TicketID));
            },

            DetailResetSearching()
            {
                debugger
                jQuery('#txtdetailsearch').val('');
                this.detailsearchuser = '';
                this.revenue_ticket_detail = this.revenue_ticket_detailR;
                //ages.filter(text)
            },

            Detailinitialize(item){
                debugger
                this.revenue_ticket_detail = item
                this.revenue_ticket_detailR = item
                this.DetailSearch();
            },

            qr_code_path(){

                debugger
                window.location.origin
                return this.qrcode.replace(window.base_url, '');
            }

        },



        created(){
            //debugger
        }

    }

</script>


<style>
    .ui-widget-header {
        border: 1px solid #5a2591;
        background: #5a2591;
        color: #fff;

    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #454545;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #ffffff;
    }
    .modal-header .close {

        display: none;
    }
    .resetbtn{
        background: #5a2591;
        border: 1px solid #5a2591;
        color:#fff;
    }

</style>