<template>

    <!-- Modal -->

    <div id="RevenueDetail" class="modal fade" role="dialog">
        <revenueticketdetail-modal ref="revenueticketdetailmodal"></revenueticketdetail-modal>

        <div class="modal-dialog" style="width: 600px; height: 300px">
          <!--  <loading :active.sync="isLoading"
                     :is-full-page="false" class="center loader-xs"></loading>  -->

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Total Revenue (AUD {{totalrevenue}})</h4>

                    <div :class="'form-group col-xs-12'" class="follow-user sidebar-box" style="height: 50px;">
                        <div class="row">

                            <div class="form-group col-xs-11" style="width: 98%; margin-left: -69px;">
                                <input type="text" class="form-control" placeholder="search purchaser name....." :id="'txtsearch'">
                            </div>
                            <div class="form-group col-xs-1" style="width: 2%; margin-right: 59px; float: right">
                                <button type="button" @click="ResetSearching()"  class="resetbtn">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!--<div class="modal-body" style="height: 300px; overflow-y: scroll;">-->
                <div class="modal-body" style="height: 500px; overflow-y: scroll;">





                        <a v-for="(post,index) in revenue_detail" @click="RevenueTicketDetail(post.Tickets)">
                            <div  style="margin-left: 0px; margin-top: 10px" role="button">

                                <img :src="post.created_by.Avatarurl" alt="" class="pull-left img-org" style="width: 120px; height: 120px">
                                <div class="row"><label  for="title" style="text-transform: capitalize; margin-left: 10px; color: lightslategray">Purchaser:  {{ post.created_by.fname }} {{ post.created_by.lname }}</label></div>
                                <div class="row"><label for="title" style="text-transform: capitalize; margin-left: 140px; margin-top: -100px; color: lightslategray">Dated:  {{ post.dated }}</label></div>
                                <div class="row" style="margin-top: -82px">

                                    <label for="title" style="text-transform: capitalize; margin-left: 8px; color: lightslategray">Ticket Type:  {{ post.tickettypename }}</label>

                                    <img  v-bind:src="post.tickettypeid == 1 ? './public/img/NORMAL.png' : './public/img/VIP.png'" alt="user" style="height: 35px; width: 35px; margin-right: 100px; float: right" />

                                </div>
                                <div class="row"><label for="title" style="text-transform: capitalize; margin-left: 140px; margin-top: -60px; color: lightslategray">No. Of Tickets:  {{ post.nooftickets }}</label></div>
                                <div class="row"><label for="title" style="text-transform: capitalize; margin-left: 140px; margin-top: -40px; color: lightslategray">Per Ticket Price:  AUD {{ post.price }}</label></div>
                                <div class="row"><label for="title" style="text-transform: capitalize; margin-left: 140px; margin-top: -20px; color: lightslategray">Revenue:  AUD {{ post.nooftickets*post.price }}</label></div>
                                <!--<div class="work-info">
                                    <h5 style="text-transform: capitalize;">{{ post.created_by.fname }} {{ post.created_by.lname }}</h5>
                                </div>-->
                                <hr style="margin-top: 1px; margin-bottom: 1px;">
                            </div>


                        </a>



                    <infinite-loading ref="InfiniteLoading" @infinite="getRevenueDetailInfinite"></infinite-loading>

                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</template>


<script>
    import Vue from 'vue/dist/vue.esm.js';
    import Loading from 'vue-loading-overlay';

    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';



    export default {

        props:{

        },

        data(){
            return {
                revenue_detail: [],
                eventId : '',
                typeId : '',
                searchuser : '',
                userid : '',
                totalrevenue : '',
                page: 1,
                nextPage: '',
                issearching: false,
                isLoading : false,
                IsReset : false,
                state: null,
                onload: false,
                isstate: false
            }
        },


        mounted(){
            $("#txtsearch").on("keyup", this.changetextev)
        },


        methods: {

            changetextev(event)
            {
                //alert(event.keyCode)
                if (event.keyCode === 13) {

                    debugger
                    //$("#id_of_button").click();
                    this.searchuser = $('#txtsearch').val()
                    this.revenue_detail = [];
                    this.issearching = true;
                    this.page = 1;
                    this.nextPage = '';
                    //this.getRevenueDetail();
                    this.getRevenueDetail()


                    try {
                        this.state.reset();

                    } catch (Exception) {

                        //return $e->getMessage();
                    }

                }
            },

            initialize(eventid, typeid, totalrevenue){
                debugger

              //  this.$refs.InfiniteLoading.stateChanger.reset();



                //this.$refs.InfiniteLoading.reset();
                //this.$refs.InfiniteLoading.clear();

                this.revenue_detail = []
                this.searchuser = ''
                this.eventId = eventid
                this.typeId = typeid
                this.totalrevenue = totalrevenue
                this.url = '',
                $('#txtsearch').val('')
                this.page = 1;
                this.nextPage = '';
                this.issearching = false;
                this.IsReset = false;

                //this.getRevenueDetail();

                //if(this.isstate == false)
                //{
                    this.getRevenueDetail();
                //}





               // this.Search();
            },

            Search()
            {
                var compound_ = this;

              /*  $("#txtsearch").keyup(function(event) {
                    alert('search')
                    if (event.keyCode === 13) {

                        debugger
                        //$("#id_of_button").click();
                        compound_.searchuser = $('#txtsearch').val()
                        compound_.revenue_detail = [];
                        compound_.issearching = true;
                        compound_.getRevenueDetail();
                    }
                });  */

            },

            ResetSearching()
            {
                this.searchuser = '';
                jQuery('#txtsearch').val('')
                this.issearching = true;
                this.getRevenueDetail();

                try {
                    this.state.reset();

                } catch (Exception) {

                    //return $e->getMessage();
                }
            },

            RevenueTicketDetail(item)
            {
                debugger
                this.$refs.revenueticketdetailmodal.Detailinitialize(item);
                jQuery('#RevenueTicketDetail').modal({
                    backdrop: 'static',
                    keyboard: false
                })
                $('#RevenueTicketDetail').on('hidden.bs.modal', function () {
                    debugger

                });

            },

            getRevenueDetail(){

                debugger

                this.onload = true;

                this.nextPage = ''
                this.page = 1
                this.revenue_detail = [];
                this.url = window.base_path + '/api/getRevenueDetail';


                this.isLoading = true;
                axios.post(this.url, {
                    event_id: this.eventId,
                    type_id: this.typeId,
                    searchuser: this.searchuser,
                    userid: this.userid

                })
                    .then((response) => {
                        debugger
                        this.isLoading = false;
                        if(response.data.data)
                        {
                            if (response.data.data.length > 0) {

                                this.isstate = false;
                                this.revenue_detail = response.data.data;
                                this.page += 1;


                                this.issearching = false;
                                this.nextPage = response.data.links.next
                                //this.searchuser = '';

                                //$state.loaded();
                            }
                            else {
                                //$state.complete();

                            }
                        }
                        else
                        {}



                    })
                    .catch(function (error) {
                        // handle error
                        debugger
                        console.log(error);
                      //  this.isLoading = false;
                        //this.searchuser = '';
                    });

            },


            getRevenueDetailInfinite($state){

                debugger

/*
                if (this.revenue_detail.length <= 0)
                {
                    return
                }
*/

                if (this.nextPage == null) {
                    this.isstate = true;
                    this.state = $state;

                    //$state.reset();
                    return
                }


                if (this.nextPage != '' && this.nextPage != null) {
                    this.url = this.nextPage
                }
                else
                {
                    //$state.reset();
                    this.page = 1;
                    this.revenue_detail = [];
                    this.url = window.base_path + '/api/getRevenueDetail';
                }

                this.isLoading = true;
                axios.post(this.url, {
                    event_id: this.eventId,
                    type_id: this.typeId,
                    searchuser: this.searchuser,
                    userid: this.userid

                })
                    .then((response) => {
                        debugger
                        this.isLoading = false;
                        if(response.data.data)
                        {
                            if (response.data.data.length > 0) {

                                if (this.nextPage != response.data.links.next)
                                {
                                    this.isstate = false;
                                    this.revenue_detail = this.revenue_detail.concat(response.data.data);
                                    this.page += 1;

                                    this.issearching = false;
                                    this.nextPage = response.data.links.next


                                    if (this.nextPage == null)
                                    {
                                        //$state.reset();
                                    }
                                    else
                                    {
                                        //$state.loaded();
                                    }

                                }
                                else
                                {
                                    //this.searchuser = '';
                                }

                                $state.loaded();

                            }
                            else {
                                $state.complete();

                            }
                        }
                        else
                        {}



                    })
                    .catch(function (error) {
                        // handle error
                        debugger
                        console.log(error);
                        //  this.isLoading = false;
                        //this.searchuser = '';
                    });

            },

        },


        created(){
            //debugger
            //alert('craeted')
            //this.Search();
        }

    }

</script>


<style>
    .ui-widget-header {
        border: 1px solid #5a2591;
        background: #5a2591;
        color: #fff;

    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #454545;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: 1px solid #5a2591;
        background: #5a2591;
        font-weight: normal;
        color: #ffffff;
    }
    .resetbtn{
        background: #5a2591;
        border: 1px solid #5a2591;
        color:#fff;
    }
</style>