<template>

<!-- Modal -->
<div id="ScanQRModel" class="modal fade" role="dialog">





  <div class="modal-dialog">
  <loading :active.sync="isLoading" 
        :is-full-page="false" class="center loader-xs"></loading>
    
    <!-- Modal content-->
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Scan Event QR Code</h4>
      </div>
      <div class="modal-body">
        <div class="post-content" >
        <video id="preview"></video>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  @click="fullscreen()">Toggle Full Screen</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

      </div>
    </div>

  </div>
</div>
</template>

<script>
    export default {

        props: {


            qrcode: {
                type: String,
            },
        },



        data(){
          return {

              id : 0,
              isLoading : false,
              isFullscreen : false,
              width: 0,
              height:0,
              cameras : []
        }
    },
      methods: {



          fullscreen(){
              var d = {};
              var speed = 300;
              if(!this.isFullscreen){ // MAXIMIZATION
                  d.width = "100%";
                  d.height = "100%";
                  this.isFullscreen = true;
                //  $("h1").slideUp(speed);
              }
              else{ // MINIMIZATION
                  d.width = this.width;
                  d.height = this.height;
                  this.isFullscreen = false;
                  //$("h1").slideDown(speed);
              }
              $("#ScanQRModel .modal-dialog").animate(d,speed);
          },



          startscan(scanner,id)
          {
              this.width = $("#ScanQRModel .modal-dialog").width()
              this.height = $("#ScanQRModel .modal-dialog").height()

              this.id = id
              var component =  this
              scanner.addListener('scan', function(content) {
                  debugger
                  scanner.video.pause();
                  component.validateQR(component.id,content,scanner)
                 // this.qrcode = content
                  //alert( content);
                //  window.open(content, "_blank");
              });
              Instascan.Camera.getCameras().then(cameras =>
              {
                  if(cameras.length > 0){
                      component.cameras = cameras
                      scanner.start(component.cameras[0]);
                  } else {
                      console.error("Camera Detection or Permission  Error");
                  }
              });
          },

          rejectQR(message,scanner)
          {
              debugger
              $("#errmodal").remove();
              var component  = this
             // scanner.stop()

              debugger
              $('<div id="errmodal"></div>')
                  .html('<div><h6>' + message + '</h6></div>')
                  .dialog({
                      modal:true,
                      title:"Error",
                      width:400,
                      buttons: {
                          Ok: function() {
                              scanner.video.play();
                            //  scanner.start(component.cameras[0]);
                              $(this).remove();
                          }
                      }
                  });
              $("#errmodal").prev().css({"background": "#910e27","border":"1px solid #910e27"});
              $("#errmodal").next().find('.ui-button').css({"color": "#ffffff","background": "#910e27","border":"1px solid #910e27"});
              $("#errmodal").prev().find('button').remove();
          },

          acceptQR(event_id,qr_code_scanned,scanner,data)
          {
              debugger
              $("#accmodal").remove();
              var component  = this
              var message = data.ticketType + '\n' +  data.user.fname + ' ' + data.user.lname + ' '
              var image = data.user.Avatarurl
              var color = ''

              if (data.totalCheckIn == data.totalCheckOut)
              {
                  message = message + "has arrived"
                  color = '#427d37'
              }
              else  if (data.totalCheckIn != data.totalCheckOut)
              {
                  message = message + "pass out"
                  color = '#910e27'
              }


              debugger
              $('<div id="accmodal"></div>').appendTo('body')
                  .html('<div style="text-align: center"><img class="img-respponsive img-circle accmodalimg" src="' + image +'" /></div>' +'<div><h6 style="white-space: pre-wrap;">' + message + '?</h6></div>')
                  .dialog({
                      modal: true,
                      title: 'Confirm',
                      zIndex: 10000,
                      autoOpen: true,
                      width: 'auto',
                      resizable: false,
                      buttons: {
                          Accept: function () {
                              debugger

                              component.scanQR(event_id,qr_code_scanned,scanner)

                              $(this).dialog("close");
                          },
                          Reject: function () {

                              scanner.video.play()
                              $(this).dialog("close");
                          }
                      },
                      close: function (event, ui) {
                          $(this).remove();
                      }
                  });

              $("#accmodal").prev().css({"background": color,"border":"1px solid " + color});
              $("#accmodal").next().find('.ui-button:nth-child(1)').css({"color": "#ffffff","background": color,"border":"1px solid " + color});
              $("#accmodal").next().find('.ui-button:nth-child(2)').css({"color": "#ffffff","background": "#757575","border":"1px solid " + color});
              $("#accmodal").prev().find('button').remove();
          },



          validateQR(event_id,qr_code_scanned,scanner)
          {



              if (( $('#errmodal').length )  || ( $('#accmodal').length ) || this.isLoading == true)
              {
                  return
              }

              debugger
              this.isLoading = true;
              var component  = this
              axios.post(window.base_path + '/api/eventQrValidate' , {

                  id: event_id,
                  qr_code: qr_code_scanned

              }).then((response) => {
                  debugger
                  this.isLoading = false;
                  if (response.data.success == 1) {
                      debugger
                      component.acceptQR(event_id,qr_code_scanned,scanner,response.data.data)

                  }
                  else
                  {
                      component.rejectQR(response.data.message,scanner)
                  }

              }).catch((error) => {
                  debugger
                  // handle error
                  this.isLoading = false;
                  component.rejectQR("An Error Has Been Occured",scanner)

              }).finally(() => {

               //   scanner.video.play();
                  debugger
                  this.isLoading = false;

              });




          },

          scanQR(event_id,qr_code_scanned,scanner)
          {
              debugger
              this.isLoading = true;
              var component  = this
              axios.post(window.base_path + '/api/eventQrScan' , {

                  id: event_id,
                  qr_code: qr_code_scanned

              }).then((response) => {
                  debugger
                  this.isLoading = false;
                  if (response.data.success == 1) {
                      debugger
                      scanner.video.play()
                  }
                  else
                  {
                      component.rejectQR(response.data.message,scanner)
                  }

              }).catch((error) => {
                  debugger
                  // handle error
                  this.isLoading = false;
                  component.rejectQR("An Error Has Been Occured",scanner)

              }).finally(() => {

                  //   scanner.video.play();
                  debugger
                  this.isLoading = false;

              });


          },

          created(){

          },

          stop()
          {

          }

      },

        mounted(){



        },
        beforeDestroy(){

        }
    }
</script>

<style>

.ui-dialog{
  z-index: 9999 !important;
}


#errmodal  h6 {
  color: #910e27;
  text-align: center
}

#accmodal  h6 {
  color: #757575;
  text-align: center
}
.accmodalimg{
  width: 30%;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: center;

}
.ui-widget.ui-widget-content {
  left: 28% !important;
  width: 40% !important;

}
</style>
