<template>

<!-- Modal -->
<div>
    <div id="eventShare" class="modal fade" role="dialog">


    <div class="modal-dialog">
    <loading :active.sync="isLoading" 
          :is-full-page="false" class="center loader-xs"></loading>
      
      <!-- Modal content-->
      <div class="modal-content">


        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share Event</h4>
        </div>
        <div class="modal-body">
          <div class="codeinfasters-loader-overlay trans" id="shareEventLoader">
              <div class="loading yes m-0 center" ></div>
          </div>
          <form role="form">
              <div class="form-group" v-if="shareWith == 'group'">
                <label for="title">Group Type</label>
                <v-select v-model="group" label="name" @search="fetchGroup" :options="options">

                  <template slot="no-options">
                    type to search for group..
                  </template>
                  <template slot="option" slot-scope="option">
                    <div class="d-center">
                      <!-- <img :src='option.owner.avatar_url'/>  -->
                      {{ option.name }}
                      </div>
                  </template>
                 <!--  <template slot="selected-option" slot-scope="option">
                    <div class="selected d-center">
                      <img :src='option.owner.avatar_url'/> 
                      {{ option.full_name }}
                    </div>
                  </template> -->
                  
                </v-select>
              </div>

              <div class="form-group" v-if="shareWith == 'user'">
                <label for="title">User</label>
                <v-select :closeOnSelect="false" v-model="users" multiple label="fname" @search="fetchUser" :options="usersOptions">

                  <template slot="no-options">
                    type to search for user..
                  </template>
                  <template slot="option" slot-scope="option">
                    <div class="d-center">
                      <!-- <img :src='option.owner.avatar_url'/>  -->
                      {{ option.fname }} {{ option.lname }}
                      </div>
                  </template>
                 <!--  <template slot="selected-option" slot-scope="option">
                    <div class="selected d-center">
                      <img :src='option.owner.avatar_url'/> 
                      {{ option.full_name }}
                    </div>
                  </template> -->
                  
                </v-select>
              </div>

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-default" v-if="shareWith == 'group'" @click="postData()">Share</button>
          <button class="btn btn-default" v-if="shareWith == 'user'" @click="shareWithUserNow()">Share</button>
        </div>
      </div>

    </div>
  </div>
</div>
</template>

<script>
    export default {
         props:{
          eventId:{
            type:Number,
          },

          shareWith:{
            type:String,
          },

       },

        data(){
          return {
               options:[],
               usersOptions:[],
               group:{},
               users:[],
               event_id:'',
               group_types: [],
               isLoading: false,
               form: new Form({
                group_type_id : '',
                name : '',
                description : '',
                image : '',

                
            })
      
        }
    },
      // computed:{
      //   fullName:(fname,lname) =>{
      //     return fname+' '+lname;
      //   },
      // }
      methods:{

        fetchGroup(search,loading){
          if(search.length > 0){
            loading(true);
            this.search(loading, search, this);
          }         
        },
        search: _.debounce((loading, search, vm) => {
          axios.post(
          window.base_path+`/api/selectGroup`,{
            search:search
          }).
          then((res) => {
            console.log(res.data.data);
            vm.options = res.data.data;
            // res.json().then(json => vm.options = json.items);
            loading(false);
          });
        }, 350),

        // Share With User
        fetchUser(search,loading){
          if(search.length > 0){
            loading(true);
            this.searchUser(loading, search, this);
          }         
        },
        searchUser: _.debounce((loading, search, vm) => {
          axios.post(
          window.base_path+`/api/selectUser`,{
            search:search
          }).
          then((res) => {
            vm.usersOptions = res.data.data;
            // res.json().then(json => vm.options = json.items);
            loading(false);
          });
        }, 350),
        // Share With User

        getEventTypes(){
          this.isLoading = true;
          axios.get(window.base_path+'/api/groupTypes')
              .then( (response) => {
                 this.group_types = response.data.data;
                 this.isLoading = false;
              })
              .catch(function (error) {
                // handle error
                console.log(error);
                this.isLoading = false;
              });
            
        },

        postData(){


          jQuery('#shareEventLoader').addClass('yes');

          axios.post(window.base_path+'/api/shareToGroup',{
            group_id: `[${this.group.id}]`,
            event_id: this.eventId,
          } )
              .then( (response) => {

              jQuery('#shareEventLoader').removeClass('yes');
              jQuery('#eventShare').modal('hide');
              })
              .catch(function (error) {
                // handle error
                console.log(error);
                
                jQuery('#shareEventLoader').removeClass('yes');
              });
        }, 

        shareWithUserNow(){


          jQuery('#shareEventLoader').addClass('yes');
          var user_ids = [];

          this.users.forEach(function(value){
            user_ids.push(value.id);
          });
          axios.post(window.base_path+'/api/shareToUser',{
            user_id: `[${user_ids}]`,
            event_id: this.eventId,
          } )
              .then( (response) => {

              jQuery('#shareEventLoader').removeClass('yes');
              jQuery('#eventShare').modal('hide');
              })
              .catch(function (error) {
                // handle error
                console.log(error);
                
                jQuery('#shareEventLoader').removeClass('yes');
              });
        },




        onChangeFileUpload(){
          this.form.image = this.$refs.file.files[0];
        }
       },

       created(){
     
       }
       
    }
</script>
