<template>

  <div  id="payModelsub">

    <input  id="sub_type" type="hidden">
    <input  id="sub_token" type="hidden">
    <button id="send_data" @click="postData()"></button>
  </div>




<!-- Modal -->


</template>



  <!-- <div class="modal-dialog">
   <loading :active.sync="isLoading"
         :is-full-page="false" class="center loader-xs"></loading>


    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enjoy Feature</h4>
      </div>
      <div class="modal-body">
        
        <form role="form">

            <div class="row">
              <div class="form-group col-xs-10">
                <label for="title">Total Amount</label>
                <input class="form-control" id="sub_total_amount" readonly="">
              </div>
              <div class="form-group col-xs-8">
                <label for="title">Card</label>
                <input v-model="form.card_number" type="text" v-mask="'#### #### #### ####'" class="form-control" placeholder="1234 1234 1234 1234">
              </div>
              <div class="form-group col-xs-2">
                <label for="venue">Expiry Date</label>
                <input v-model="form.expiry_date" type="text" v-mask="'##/##'" class="form-control" placeholder="MM/YY">
              </div>
              <div class="form-group col-xs-2">
                <label for="cvc">CVCs</label>
                <input v-model="form.cvc" type="text" v-mask="'###'" class="form-control" placeholder="CVC">
              </div>
            </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-default" @click="postData()">Pay</button>
      </div>
    </div>

  </div>
</div>-->


<script>
    export default {

        data(){
          return {
               event_types: [],
               isLoading: false,
               type: '',
               form: new Form({
                event_type_id : '',
                title : '',
                description : '',
                venue_address : '',
                event_date : '',
                event_time : '',
                image : '',
                cvc : '',
            })
      
        }
    },

        created(){

            debugger
           // this.generatebuttton()




            // this.getData();
        },

      computed:{
          totalAmount(){
            return window.sub_total_amount;
          }
        },

      methods:{


        postData(){
debugger
          this.isLoading = true;
          axios.post(window.base_path+'/api/subscribe',{
            type: jQuery('#sub_type').val(),
            stripe_token: jQuery('#sub_token').val()
          } )
              .then( (response) => {
             // this.isLoading = false;
             // jQuery('#payModelsub').modal('hide')
                  // ;
                  debugger
                  var redirect = window.base_path.replace('/public','')
                  window.location =   redirect +'/events'
              // jQuery('#payModel').modal('hide');
              })
              .catch(function (error) {
                // handle error
                console.log(error);
              //  this.isLoading = false;
              });
        },

        eventLike(){
         
        },

        generatebuttton()
        {




///////////////////////////////////////

        },


        onChangeFileUpload(){
          this.form.image = this.$refs.file.files[0];
        }
       },

       
    }
</script>
  