<template>


  <div class="suggestions" id="sticky-sidebar">
      <h4>Upcoming Events</h4>

      <div class="follow-user sidebar-box" v-for="(post,index) in data">
        <span class="date-circle-sm pull-left">
          <div>
            <span class="d-day">{{ formatDay(post.event_date) }}</span>
             <span class="d-month">{{ formatMonth(post.event_date) }}</span>
          </div>
        </span>
        <div>
          <h5><a :href="base_url+'/event/'+post.id">{{ post.title }}</a></h5>
          <span class="sub-text">{{ post.venue_address }}</span>
          <h4>{{ post.event_time }}</h4>
        </div>
      </div>

      
    </div>

</template>


<script>
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {


        data(){
          return {
              base_url: window.base_url,
              url: window.base_path+'/api/allEvent?limit=3',
              page: 1,
              isLoading: false,
              data:[],
              alldata:[],
              comments:{0:''},
              enterComment:{},
        }
    },
       methods:{

        getData(){
          this.isLoading = true;
          axios.get(this.url , 
             {
                params: {
                  page: this.page,
                },
               
              })
              .then( (response) => {
                  
                 if(response.data.data.length > 0){
                
                   
                   this.data = this.data.concat(response.data.data);
                   this.page += 1;
                   this.isLoading = false;

                   
                 }else{
           
                   
                 }
                  
                 
              })
              .catch( (error) => {
                // handle error
                console.log(error);
                this.isLoading = false;
              })
              .finally( () => {

                 
                this.isLoading = false;
              });
        },

        
       },

       created(){
              this.getData();
             
       },

       computed:{
        userAvatar: () => {
          return window.user_avatar;
        }
       }
    }
</script>

<style>


</style>